# Basic settings

In [1]:
import pandas as pd
import numpy as np
import requests

import pymysql
from sqlalchemy import create_engine

import gc
from tqdm import tqdm
import time
import os
import warnings
from datetime import datetime

# PUBG 분석 도구
from chicken_dinner.pubgapi import PUBG
from chicken_dinner.constants import COLORS
from chicken_dinner.constants import map_dimensions

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

warnings.filterwarnings(action = 'ignore')

In [3]:
path = os.getcwd()
print(path)

/Users/thkim/Documents/pubg

In [4]:
api_key = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJkZTQ3Yjk5MC0wODEyLTAxM2ItZDA3Ny0wODM2YzIwNWY4NzgiLCJpc3MiOiJnYW1lbG9ja2VyIiwiaWF0IjoxNjYxNTkwMDc1LCJwdWIiOiJibHVlaG9sZSIsInRpdGxlIjoicHViZyIsImFwcCI6InB1YmctYXBpLWtleSJ9.bt-q-uUpkjNVE4KXF1sAv_s8TQuzLg3piROMK1RFuAQ'
# accept = 'application/vnd.api+json'
shard = 'kakao'

In [33]:
# gcp
user = 'root'
password = 'mupubg'
host = '34.64.247.176'
port = 3306
database = 'pubg'

In [34]:
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}', encoding = 'utf-8')
engine_local = create_engine('mysql+pymysql://root:mysql@127.0.0.1:3306/pubg', encoding = 'utf-8') # local

In [35]:
conn = pymysql.connect(host = host
                      ,user = user
                      ,password = password
                      ,db = database
                      ,charset = 'utf8')
curs = conn.cursor()

In [36]:
def insert_data_to_db(data, table_name, connection, if_exist = 'append'):
    
    data.to_sql(index = False,
                name = table_name,
                con = connection,
                if_exists = if_exist,
                method = 'multi')

# Gathering Data Tables

## Load Match_Data

In [88]:
# match_json_1 = pd.read_json(f'{path}/data/match_data_7to13.json')
# match_json_2 = pd.read_json(f'{path}/data/match_data_15to19.json')

# match_json = pd.concat([match_json_1.iloc[305:, :], match_json_2], axis = 0, ignore_index = True)

# match_json.to_json(f'{path}/data/match_data_8to19.json')

In [230]:
# match_json_old = pd.read_json(f'{path}/data/match_data_8to19.json')
# match_json_new = pd.read_json(f'{path}/data/match_data_20to21.json')

# print(match_json_new.shape)

# match_json = pd.concat([match_json_old, match_json_new], axis = 0, ignore_index = True)

# match_json.to_json(f'{path}/data/match_data_8to21.json')

(85, 19)

In [539]:
# match_json_old = pd.read_json(f'{path}/data/match_data_8to21.json')
# match_json_new = pd.read_json(f'{path}/data/match_data_14.json')

# match_json = pd.concat([match_json_old, match_json_new], axis = 0, ignore_index = True)
# match_json = match_json.sort_values(ascending = True, by = 'data.attributes.createdAt').reset_index(drop = True)

# print(match_json.shape)
# match_json.to_json(f'{path}/data/match_data_8to21.json')

(562, 19)

In [610]:
# match_json_old = pd.read_json(f'{path}/data/match_data_8to21.json')
# match_json_new = pd.read_json(f'{path}/data/match_data_22to23.json')

# match_json = pd.concat([match_json_old, match_json_new], axis = 0, ignore_index = True)

# print(match_json.shape)
# match_json.to_json(f'{path}/data/match_data_8to23.json')

(628, 19)

In [730]:
# match_json_old = pd.read_json(f'{path}/data/match_data_8to23.json')
# match_json_new = pd.read_json(f'{path}/data/match_data_24.json')

# match_json = pd.concat([match_json_old, match_json_new], axis = 0, ignore_index = True)

# print(match_json.shape)
# match_json.to_json(f'{path}/data/match_data_8to24.json')

(664, 19)

In [53]:
# match_json_old = pd.read_json(f'{path}/data/match_data_8to24.json')
# match_json_new = pd.read_json(f'{path}/data/match_data_25.json')

# match_json = pd.concat([match_json_old, match_json_new], axis = 0, ignore_index = True)

# print(match_json.shape)
# match_json.to_json(f'{path}/data/match_data_8to25.json')

(723, 19)

In [162]:
match_json_old = pd.read_json(f'{path}/data/match_data_8to25.json')
match_json_new = pd.read_json(f'{path}/data/match_data_26.json')

match_json = pd.concat([match_json_old, match_json_new], axis = 0, ignore_index = True)

print(match_json.shape)
match_json.to_json(f'{path}/data/match_data_8to26.json')

(738, 19)

In [9]:
match_json = pd.read_json(f'{path}/data/match_data_27.json')
match_json.shape

(47, 19)

In [10]:
# item_pickup_df.loc[:, 'log_created_time'] = item_pickup_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
def change_date_format(timestamp):
    timestamp = pd.Timestamp(timestamp).to_pydatetime().replace(tzinfo=None)
    return timestamp

## match_df

In [29]:
match_df_old = pd.read_csv(f'{path}/data/match_df.csv')
print(match_df_old.shape)

(785, 9)

In [166]:
match_df = pd.DataFrame()

# drop columns
match_sample_df = match_json.drop(columns = ['included', 'data.type', 'data.attributes.stats', 'data.attributes.titleId', 'data.attributes.tags', 'data.relationships.rosters.data', 'data.relationships.assets.data', 'data.links.self', 'data.links.schema', 'links.self'])
match_sample_df.columns = list(map(lambda x: x.split('.')[-1], match_sample_df.columns.tolist()))
match_sample_df = match_sample_df.rename(columns = {'id': 'match_id'
                                                   ,'createdAt': 'log_created_time'})
match_sample_df.loc[:, 'log_created_time'] = match_sample_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))

match_df = pd.concat([match_df, match_sample_df], axis = 0, ignore_index = True)

print(match_df.shape)
match_df.head()

(47, 9)

,match_id,log_created_time,shardId,mapName,isCustomMatch,duration,gameMode,matchType,seasonState
0,079b9626-0e73-489b-9001-91044247dd08,2022-09-27 03:06:50,kakao,Desert_Main,False,1798,squad,competitive,progress
1,33eceeba-4a2e-403b-83e0-1223080b6775,2022-09-27 03:14:38,kakao,Tiger_Main,False,1780,squad,competitive,progress
2,eee2f51d-3ff3-447d-b2de-12d89b568622,2022-09-27 05:18:46,kakao,Tiger_Main,False,1738,squad,competitive,progress
3,2231214a-96c3-4179-90f8-773aea508199,2022-09-27 05:23:59,kakao,Desert_Main,False,1942,squad,competitive,progress
4,1c46b88d-42d8-4fd6-9622-be7f53ff20ab,2022-09-27 05:38:03,kakao,Baltic_Main,False,1823,squad,competitive,progress

In [30]:
%%time

insert_data_to_db(match_df_old, 'match', engine)
insert_data_to_db(match_df_old, 'match', engine_local)

CPU times: user 179 ms, sys: 18.2 ms, total: 197 ms
Wall time: 457 ms

In [73]:
# # local
# match_df.to_sql(index = False,
#                 name = 'match',
#                 con = engine_local,
#                 if_exists = 'append',
#                 method = 'multi')

In [168]:
match_df_new = pd.concat([match_df_old, match_df], axis = 0, ignore_index = True)
print(match_df_new.shape)

(785, 9)

In [169]:
match_df_new.to_csv(f'{path}/data/match_df.csv', index = False)

## participant_df

In [12]:
pubg = PUBG(api_key, shard = 'kakao')

In [31]:
participant_df_old = pd.read_csv(f'{path}/data/participant_df.csv')
print(participant_df_old.shape)

(48214, 25)

In [175]:
%%time
participant_dict = {}
roster_dict = {}
participant_df = pd.DataFrame()

for match in tqdm(range(len(match_json))):
    
    # get roster_id
    match_id = match_json.iloc[match, ]['data.id']
    # match_id = '4a9e8350-c38b-4552-ba24-ef3311912fdc'
    current_match = pubg.match(match_id)
    roster_dict.update(current_match.participant_to_roster)
    
    participant_sample_df = pd.DataFrame()
    # get participant_id
    for included in match_json.iloc[match, ]['included']:
        if included['type'] == 'participant':

            participants = pd.json_normalize(included['attributes']['stats'])
            participants['participant_id'] = included['id']
            participant_sample_df = pd.concat([participant_sample_df, participants], axis = 0, ignore_index = True)

    roster_df = pd.DataFrame({'participant_id' : roster_dict.keys(), 'roster_id' : roster_dict.values()})
    participant_sample_df = pd.merge(participant_sample_df, roster_df, on = 'participant_id')
    participant_df = pd.concat([participant_df, participant_sample_df], axis = 0, ignore_index = True)

print(participant_df.shape)
participant_df.head()

100%|███████████████████████████████████████████| 47/47 [00:04<00:00, 10.55it/s]

(2881, 25)
CPU times: user 3.46 s, sys: 89.6 ms, total: 3.55 s
Wall time: 4.47 s

,DBNOs,assists,boosts,damageDealt,deathType,headshotKills,heals,killPlace,killStreaks,kills,longestKill,name,playerId,revives,rideDistance,roadKills,swimDistance,teamKills,timeSurvived,vehicleDestroys,walkDistance,weaponsAcquired,winPlace,participant_id,roster_id
0,2,2,3,287.676730,byplayer,0,1,20,1,1,41.63401,14K-Jalhae,account.279199103dc547f89683a59632b47110,0,6559.7600,0,0.0,0,1109,0,1658.52940,5,10,b0d85fbe-f44f-45cf-a297-00e24ed21c1e,2ce608cc-83a1-4327-ad43-6e5897794a3b
1,0,0,0,53.060320,byplayer,0,0,57,0,0,0.00000,sexy-kdh,account.35a0b81dcc444561ab65c310898f3dc7,0,0.0000,0,0.0,0,213,0,240.23311,4,15,18022219-5e38-4fbd-a7e2-4dcb6b01549a,efca1cd9-e3ae-4a83-ac6e-477d9b6819f8
2,0,0,1,18.449999,byplayer,0,0,30,0,0,0.00000,AXIS_MOON2,account.f5e2d7016ec842a7821a90bc03708ec1,0,1938.5726,0,0.0,0,507,0,702.10490,4,3,506631a3-71ef-4450-af80-d2a2969fb149,e030abe9-db24-4b57-b13b-830373113fbc
3,0,0,5,425.887900,byplayer,0,6,33,0,0,0.00000,14K-fightingsoo,account.14e3c139bc6b479abb331a89e9909980,0,4144.7400,0,0.0,0,1531,0,1395.89940,5,5,5952413c-9548-45da-845b-4c8864f23216,b10a2589-401d-437a-8ac9-f05d537edde2
4,0,0,5,60.277714,byplayer,0,3,49,0,0,0.00000,S0-H0T,account.abfc382406a044199ff3b06d92dfc224,0,3269.2507,0,0.0,0,744,0,828.21234,5,14,ca7946cd-16a0-49f4-9131-078d3de57ef0,6b4fc820-3833-4a3f-8746-e0b534e33081

In [183]:
%%time

insert_data_to_db(participant_df, 'participant', engine)
insert_data_to_db(participant_df, 'participant', engine_local)

CPU times: user 1.47 s, sys: 237 ms, total: 1.71 s
Wall time: 2.25 s

In [180]:
participant_df_new = pd.concat([participant_df_old, participant_df], axis = 0, ignore_index = True)
print(participant_df_new.shape)

(48214, 25)

In [184]:
participant_df_new.to_csv(f'{path}/data/participant_df.csv', index = False)

## roster_df

In [18]:
roster_df_old = pd.read_csv(f'{path}/data/roster_df.csv')
print(roster_df_old.shape)

(13279, 5)

In [186]:
roster_df = pd.DataFrame()
    
for match in tqdm(range(len(match_json))):
    # roster_df
    roster_sample_df = pd.json_normalize(match_json['included'][match])
    roster_sample_df = roster_sample_df.loc[roster_sample_df['type'] == 'roster', ['id', 'attributes.stats.rank', 'attributes.stats.teamId']]
    roster_sample_df.columns = list(map(lambda x: x.split('.')[-1], roster_sample_df.columns.tolist()))
    roster_sample_df = roster_sample_df.rename(columns = {'teamId': 'team_id'
                                                         ,'rank': 'team_rank'})
    
    roster_sample_df.loc[:, ['team_rank', 'team_id']] = roster_sample_df.loc[:, ['team_rank', 'team_id']].astype('int64')

    # match_df
    match_sample_df = pd.json_normalize(match_json['data.relationships.rosters.data'][match])
    match_sample_df['match_id'] = match_json['data.id'][match]

    roster_match_df = pd.merge(roster_sample_df, match_sample_df, on = 'id')
    roster_df = pd.concat([roster_df, roster_match_df], axis = 0, ignore_index = True)

print(roster_df.shape)
print(roster_df.info())
roster_df.head()

100%|██████████████████████████████████████████| 47/47 [00:00<00:00, 252.27it/s]

(789, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789 entries, 0 to 788
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         789 non-null    object
 1   team_rank  789 non-null    int64
 2   team_id    789 non-null    int64
 3   type       789 non-null    object
 4   match_id   789 non-null    object
dtypes: int64(2), object(3)
memory usage: 30.9+ KB
None

,id,team_rank,team_id,type,match_id
0,e030abe9-db24-4b57-b13b-830373113fbc,3,9,roster,079b9626-0e73-489b-9001-91044247dd08
1,b10a2589-401d-437a-8ac9-f05d537edde2,5,6,roster,079b9626-0e73-489b-9001-91044247dd08
2,6b4fc820-3833-4a3f-8746-e0b534e33081,14,3,roster,079b9626-0e73-489b-9001-91044247dd08
3,2ce608cc-83a1-4327-ad43-6e5897794a3b,10,4,roster,079b9626-0e73-489b-9001-91044247dd08
4,694eb041-2311-4b2d-8eab-73012a56ff22,4,11,roster,079b9626-0e73-489b-9001-91044247dd08

In [187]:
%%time

insert_data_to_db(roster_df, 'roster', engine)
insert_data_to_db(roster_df, 'roster', engine_local)

CPU times: user 117 ms, sys: 13.2 ms, total: 130 ms
Wall time: 252 ms

In [188]:
roster_df_new = pd.concat([roster_df_old, roster_df], axis = 0, ignore_index = True)
print(roster_df_new.shape)

(13279, 5)

In [189]:
roster_df_new.to_csv(f'{path}/data/roster_df.csv', index = False)

## damage_df
- 'damage_type_category' == 'Damage Roter' : Motor Glider에 의한 damage
    - 'damage_causer_name' == 'BP_Motorglider_C' : 타인에 의한 피해 없이 Motor Glider에 의해 입은 damage
    - 'damage_causer_name' == 'BP_Motorglider_Blue_C' : 타인의 Motor Glider에 부딪혔거나, 운전중인 Motor Glider가 총격에 의해 폭파되어 입은 damage

In [15]:
pubg = PUBG(api_key, shard = 'kakao')

damage_df_old = pd.read_csv(f'{path}/data/damage_df.csv')
print(damage_df_old.shape)

(2907034, 30)

In [16]:
damage_df = pd.DataFrame()

for idx in tqdm(range(len(match_json))):
    
    match_id = match_json['data.id'][idx]
    map_name = match_json['data.attributes.mapName'][idx]

    current_match = pubg.match(match_id)
    telemetry = current_match.get_telemetry()

    if map_name == 'Tiger_Main':
        mapx, mapy = map_dimensions['Desert_Main']
    else:
        mapx, mapy = map_dimensions[map_name]

    telemetry_event = telemetry.events

    # 매치별 damage df 생성
    damage_sample_df = pd.DataFrame()

    for event in telemetry_event:

        if event.event_type == 'log_player_take_damage' and hasattr(event, 'damage'):
            data = pd.json_normalize(event.to_dict())
            damage_sample_df = pd.concat([damage_sample_df, data], axis = 0, ignore_index = True)

    # match table을 참조하는 Foreign key column
    damage_sample_df['match_id'] = match_id
    damage_sample_df.columns = list(map(lambda x: x.replace('.', '_'), damage_sample_df.columns.tolist()))
    damage_sample_df = damage_sample_df.rename(columns = {'_D': 'log_created_time'
                                                         ,'common_is_game': 'is_game'})

    # DB에 삽입하기 위해 single string or None이 포함된 list를 string으로 변환
    damage_sample_df.loc[:, 'attacker_zone'] = damage_sample_df.loc[:, 'attacker_zone'][damage_sample_df.loc[:, 'attacker_zone'].notnull()].apply(lambda x: x[0] if len(x) > 0 else np.NaN)
    damage_sample_df.loc[:, 'victim_zone'] = damage_sample_df.loc[:, 'victim_zone'].apply(lambda x: x[0] if len(x) > 0 else np.NaN)
    damage_sample_df.loc[damage_sample_df['damage_reason'] == 'None', 'damage_reason'] = np.nan
    
    # is_game의 0.1 값이 0.1000000001과 같은 값으로 저장되어 있어서 round 처리
    damage_sample_df.loc[:, 'is_game'] = round(damage_sample_df.loc[:, 'is_game'], 1)
    
    # map 시각화를 위해 y axis dimension 변경
    damage_sample_df.loc[:, 'attacker_location_y'] = mapy - damage_sample_df.loc[:, 'attacker_location_y']
    damage_sample_df.loc[:, 'victim_location_y'] = mapy - damage_sample_df.loc[:, 'victim_location_y']
    
    # date format 변경
    damage_sample_df.loc[:, 'log_created_time'] = damage_sample_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))

    # 불필요한 컬럼 제거
    damage_sample_df = damage_sample_df.drop(['_T', 'attacker', 'attack_id'], axis = 1)
    
    damage_df = pd.concat([damage_df, damage_sample_df], axis = 0, ignore_index = True)
    
print(damage_df.shape)
damage_df.head()

100%|███████████████████████████████████████████| 47/47 [13:48<00:00, 17.62s/it]

(186158, 30)

,log_created_time,damage,damage_causer_name,damage_reason,damage_type_category,is_through_penetrable_wall,attacker_account_id,attacker_health,attacker_is_in_blue_zone,attacker_is_in_red_zone,attacker_location_x,attacker_location_y,attacker_location_z,attacker_name,attacker_ranking,attacker_team_id,attacker_zone,is_game,victim_account_id,victim_health,victim_is_in_blue_zone,victim_is_in_red_zone,victim_location_x,victim_location_y,victim_location_z,victim_name,victim_ranking,victim_team_id,victim_zone,match_id
0,2022-09-27 03:08:24.139,24.600000,WeapHK416_C,PelvisShot,Damage_Gun,False,account.50e8f114d4664965830808fa54cc9d44,100.000000,False,False,646956.6875,560423.500000,6019.580078,x_x892,0.0,1.0,elazahar,1.0,account.2d27b6e987944b02912f1ef56b8327d0,100.000000,False,False,646872.3125,561325.125000,6015.149902,Ssal_Garu,0,15,elazahar,079b9626-0e73-489b-9001-91044247dd08
1,2022-09-27 03:08:24.208,24.600000,WeapHK416_C,PelvisShot,Damage_Gun,False,account.50e8f114d4664965830808fa54cc9d44,100.000000,False,False,646956.6875,560423.500000,6019.580078,x_x892,0.0,1.0,elazahar,1.0,account.2d27b6e987944b02912f1ef56b8327d0,75.400002,False,False,646894.3750,561380.187500,6015.149902,Ssal_Garu,0,15,elazahar,079b9626-0e73-489b-9001-91044247dd08
2,2022-09-27 03:08:25.342,24.600000,WeapHK416_C,TorsoShot,Damage_Gun,False,account.50e8f114d4664965830808fa54cc9d44,100.000000,False,False,646807.6250,560598.703125,6015.149902,x_x892,0.0,1.0,elazahar,1.0,account.2d27b6e987944b02912f1ef56b8327d0,50.800003,False,False,647141.2500,561334.406250,5987.149902,Ssal_Garu,0,15,elazahar,079b9626-0e73-489b-9001-91044247dd08
3,2022-09-27 03:08:27.043,19.529999,WeapVector_C,TorsoShot,Damage_Gun,False,account.2d27b6e987944b02912f1ef56b8327d0,26.200003,False,False,646817.0000,561271.062500,6015.149902,Ssal_Garu,0.0,15.0,elazahar,1.0,account.50e8f114d4664965830808fa54cc9d44,100.000000,False,False,647256.9375,561058.656250,6115.240234,x_x892,0,1,elazahar,079b9626-0e73-489b-9001-91044247dd08
4,2022-09-27 03:08:27.245,21.483000,WeapVector_C,TorsoShot,Damage_Gun,False,account.2d27b6e987944b02912f1ef56b8327d0,26.200003,False,False,646812.5000,561292.046875,6015.149902,Ssal_Garu,0.0,15.0,elazahar,1.0,account.50e8f114d4664965830808fa54cc9d44,80.470001,False,False,647333.8125,561178.546875,6090.330078,x_x892,0,1,elazahar,079b9626-0e73-489b-9001-91044247dd08

In [37]:
%%time

insert_data_to_db(damage_df, 'damage', engine)

In [32]:
%%time

insert_data_to_db(damage_df, 'damage', engine)
insert_data_to_db(damage_df, 'damage', engine_local)

In [23]:
damage_df_new = pd.concat([damage_df_old, damage_df], axis = 0, ignore_index = True)
print(damage_df_new.shape)

(3093192, 30)

In [124]:
damage_df_new.to_csv(f'{path}/data/damage_df.csv', index = False)

## first_vehicle_df

In [125]:
first_vehicle_df_old = pd.read_csv(f'{path}/data/first_vehicle_df.csv')
print(first_vehicle_df_old.shape)

(35015, 26)

In [126]:
pubg = PUBG(api_key, shard = 'kakao')
first_vehicle_df = pd.DataFrame()

for idx in tqdm(range(len(match_json))):
    
    match_id = match_json['data.id'][idx]
    map_name = match_json['data.attributes.mapName'][idx]

    current_match = pubg.match(match_id)
    telemetry = current_match.get_telemetry()

    if map_name == 'Tiger_Main':
        mapx, mapy = map_dimensions['Desert_Main']
    else:
        mapx, mapy = map_dimensions[map_name]
        
    vehicles = telemetry.filter_by('log_vehicle_ride')

    first_vehicle_sample_df = pd.DataFrame()
    used_id = []

    # startTime = pd.to_timedelta(telemetry.started()[telemetry.started().find('T')+1:-1])

    # 팀에서 첫 차량 탑승 경우만 구하기
    for vehicle in vehicles:

        if (vehicle['vehicle']['vehicle_type'] == 'WheeledVehicle') & (vehicle['common']['is_game'] > 0) & (vehicle['character']['name'] not in used_id):
            first_vehicle_sample_df = pd.concat([first_vehicle_sample_df, pd.json_normalize(vehicle.to_dict())], axis = 0, ignore_index = True)
            used_id.append(vehicle['character']['name'])
    
    # json 내 중복된 columns 제거(seat_index와 vehicle.seat_index가 동일)
    first_vehicle_sample_df = first_vehicle_sample_df.drop('seat_index', axis = 1)
    
    # column names change
    first_vehicle_sample_df.columns = list(map(lambda x: ('_').join(x.split('.')[-2:]) if len(x.split('.')) > 2 else x.split('.')[-1], first_vehicle_sample_df.columns.tolist()))
    first_vehicle_sample_df = first_vehicle_sample_df.rename(columns = {'_D': 'log_created_time'})
    
    first_vehicle_sample_df['num_fellow_passengers'] = first_vehicle_sample_df.loc[:, 'fellow_passengers'].apply(lambda x: len(x))
    first_vehicle_sample_df.loc[:, 'zone'] = first_vehicle_sample_df.loc[:, 'zone'].apply(lambda x: x[0] if len(x) > 0 else np.NaN)
    first_vehicle_sample_df.loc[:, 'location_y'] = mapy - first_vehicle_sample_df.loc[:, 'location_y']
    first_vehicle_sample_df.loc[:, 'is_game'] = round(first_vehicle_sample_df.loc[:, 'is_game'], 1)
    first_vehicle_sample_df['match_id'] = match_id
    
    # date format 변경
    first_vehicle_sample_df.loc[:, 'log_created_time'] = first_vehicle_sample_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
    
    first_vehicle_sample_df = first_vehicle_sample_df.drop(['_T', 'fellow_passengers'], axis = 1)
    
    first_vehicle_df = pd.concat([first_vehicle_df, first_vehicle_sample_df], axis = 0, ignore_index = True)

print(first_vehicle_df.shape)
first_vehicle_df.head()

100%|███████████████████████████████████████████| 15/15 [01:14<00:00,  4.97s/it]

(744, 26)

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,ranking,team_id,zone,is_game,altitude_abs,altitude_rel,feul_percent,health_percent,is_engine_on,is_in_water_volume,is_wheels_in_air,seat_index,vehicle_id,vehicle_type,velocity,num_fellow_passengers,match_id
0,2022-09-26 01:06:44.976,account.811417b6612c4630bb918dd76c3efa53,100.0,False,False,316819.50000,342290.3125,2382.020752,Vigor_GOD,0,12,NaN,0.1,0,0,53.197502,100.0,False,False,False,2,BP_PonyCoupe_C,WheeledVehicle,0.0,0,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
1,2022-09-26 01:07:10.728,account.7ede2fc13d2a40a1a5dcdfadc5cee01f,100.0,False,False,147535.09375,659412.4375,1378.010864,asasd_123,0,13,wolsong,1.0,0,0,58.272751,100.0,False,False,False,1,BP_PonyCoupe_C,WheeledVehicle,0.0,0,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
2,2022-09-26 01:07:15.671,account.81a1dcbc93f849468d0d67f865c93a95,100.0,False,False,437536.71875,591608.0000,2955.361572,OhMY_NMAX125,0,15,NaN,1.0,0,0,71.815941,100.0,False,False,False,1,BP_PonyCoupe_C,WheeledVehicle,0.0,0,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
3,2022-09-26 01:07:19.514,account.569184cc823042f39172420b7a03fc53,100.0,False,False,440941.00000,583921.4375,3121.928955,OhMY_DEX,0,15,yongcheon,1.0,0,0,100.000000,100.0,False,False,False,1,BP_Porter_C,WheeledVehicle,0.0,0,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
4,2022-09-26 01:07:27.231,account.da9d153a533043cd8e52adc9ff63d54a,100.0,False,False,348293.50000,206417.3125,862.200623,HOTDAMMM,0,9,NaN,1.0,0,0,73.087273,100.0,False,False,False,0,Buggy_A_02_C,WheeledVehicle,0.0,0,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2

In [127]:
%%time

first_vehicle_df.to_sql(index = False,
                        name = 'first_vehicle',
                        con = engine,
                        if_exists = 'append',
                        method = 'multi')

CPU times: user 516 ms, sys: 6.92 ms, total: 523 ms
Wall time: 667 ms

In [128]:
# # local
# first_vehicle_df.to_sql(index = False,
#                         name = 'first_vehicle',
#                         con = engine_local,
#                         if_exists = 'append',
#                         method = 'multi')

In [129]:
first_vehicle_df_new = pd.concat([first_vehicle_df_old, first_vehicle_df], axis = 0, ignore_index = True)
print(first_vehicle_df_new.shape)

(35759, 26)

In [130]:
first_vehicle_df_new.to_csv(f'{path}/data/first_vehicle_df.csv', index = False)

## throwable_df

In [136]:
pubg = PUBG(api_key, shard = 'kakao')

throwable_df_old = pd.read_csv(f'{path}/data/throwable_df.csv')
print(throwable_df_old.shape)

(113594, 16)

In [137]:
throwable_df = pd.DataFrame()

for idx in tqdm(range(len(match_json))):
    
    match_id = match_json['data.id'][idx]
    map_name = match_json['data.attributes.mapName'][idx]

    current_match = pubg.match(match_id)
    telemetry = current_match.get_telemetry()
    
    if map_name == 'Tiger_Main':
        mapx, mapy = map_dimensions['Desert_Main']
    else:
        mapx, mapy = map_dimensions[map_name]
    
    throwables = telemetry.filter_by('log_player_use_throwable')
    
    throwable_sample_df = pd.DataFrame()
    
    for throwable in throwables:
        if throwable['weapon']['sub_category'] == 'Throwable':
            throwable_sample_df = pd.concat([throwable_sample_df, pd.json_normalize(throwable.to_dict())], axis = 0, ignore_index = True)

    throwable_sample_df.columns = list(map(lambda x: ('_').join(x.split('.')[-2:]) if len(x.split('.')) > 2 else x.split('.')[-1], throwable_sample_df.columns.tolist()))
    throwable_sample_df = throwable_sample_df.rename(columns = {'_D': 'log_created_time'})
    
    # convert list to string in the 'zone' column
    throwable_sample_df.loc[:, 'zone'] = throwable_sample_df.loc[:, 'zone'].apply(lambda x: x[0] if len(x) > 0 else np.nan)
    throwable_sample_df.loc[:, 'location_y'] = mapy - throwable_sample_df.loc[:, 'location_y']
    throwable_sample_df.loc[:, 'is_game'] = round(throwable_sample_df.loc[:, 'is_game'], 1)
    throwable_sample_df['match_id'] = match_id
    
    # date format 변경
    throwable_sample_df.loc[:, 'log_created_time'] = throwable_sample_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
    
    # drop columns
    throwable_sample_df = throwable_sample_df.drop(columns = ['_T', 'attack_id', 'attack_type', 'ranking', 'attached_items', 'category', 'stack_count'], axis = 1)
    
    throwable_df = pd.concat([throwable_df, throwable_sample_df], axis = 0, ignore_index = True)
    
print(throwable_df.shape)
throwable_df.head()

100%|███████████████████████████████████████████| 15/15 [01:05<00:00,  4.35s/it]

(2393, 16)

,log_created_time,fire_weapon_stack_count,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,sub_category,match_id
0,2022-09-26 01:07:57.211,1,account.0b014c2c6b1e4f33b5eb50b0f1f5717a,100.0,False,False,504365.25000,308841.62500,6754.779785,yt10801,6,buksansa,1.0,Item_Weapon_SmokeBomb_C,Throwable,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
1,2022-09-26 01:08:06.329,1,account.0fa845d1a20e4a10a1ec12b3b28106e8,100.0,False,False,514568.87500,305795.81250,5930.000000,CVT_ManDu,2,buksansa,1.0,Item_Weapon_FlashBang_C,Throwable,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
2,2022-09-26 01:08:07.597,1,account.62648274dfb44ef6bdd93df4d3f4d0a7,100.0,False,False,497210.59375,308530.46875,6345.919922,Zoe_Athens,4,buksansa,1.0,Item_Weapon_Grenade_C,Throwable,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
3,2022-09-26 01:08:09.869,1,account.b8f663ca023445f3ac0e9e078768e45c,100.0,False,False,515083.31250,308093.53125,6095.339844,CVT_JohnWick,2,buksansa,1.0,Item_Weapon_FlashBang_C,Throwable,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
4,2022-09-26 01:08:19.265,1,account.47088cce8b45494cadc6318082647f96,100.0,False,False,546603.62500,136374.18750,2415.110107,NBG_xXx,11,studio,1.0,Item_Weapon_Grenade_C,Throwable,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2

In [139]:
%%time

throwable_df.to_sql(index = False,
                    name = 'throwable',
                    con = engine,
                    if_exists = 'append',
                    method = 'multi')

CPU times: user 335 ms, sys: 60.9 ms, total: 396 ms
Wall time: 657 ms

In [141]:
# local
throwable_df.to_sql(index = False,
                    name = 'throwable',
                    con = engine_local,
                    if_exists = 'append',
                    method = 'multi')

In [140]:
throwable_df_new = pd.concat([throwable_df_old, throwable_df], axis = 0, ignore_index = True)
print(throwable_df_new.shape)

(115987, 16)

In [142]:
throwable_df_new.to_csv(f'{path}/data/throwable_df.csv', index = False)

## healing_boost_df

In [143]:
pubg = PUBG(api_key, shard = 'kakao')

healing_boost_df_old = pd.read_csv(f'{path}/data/healing_boost_df.csv')
print(healing_boost_df_old.shape)

(314157, 16)

In [144]:
healing_boost_df = pd.DataFrame()

for idx in tqdm(range(len(match_json))):
    
    match_id = match_json['data.id'][idx]
    map_name = match_json['data.attributes.mapName'][idx]

    current_match = pubg.match(match_id)
    telemetry = current_match.get_telemetry()
    
    if map_name == 'Tiger_Main':
        mapx, mapy = map_dimensions['Desert_Main']
    else:
        mapx, mapy = map_dimensions[map_name]
        
    healing_boosts = telemetry.filter_by('log_item_use')
    
    healing_boost_sample_df = pd.DataFrame()
    healing_boost_items = ['Item_Heal_Bandage_C', 'Item_Boost_AdrenalineSyringe_C', 'Item_Boost_EnergyDrink_C', 'Item_Boost_PainKiller_C', 'Item_Heal_FirstAid_C', 'Item_Heal_MedKit_C']

    for healing_boost in healing_boosts:
        # bring healing and boost items
        if healing_boost['item']['item_id'] in healing_boost_items:
            healing_boost_sample_df = pd.concat([healing_boost_sample_df, pd.json_normalize(healing_boost.to_dict())], axis = 0, ignore_index = True)

    healing_boost_sample_df.columns = list(map(lambda x: ('_').join(x.split('.')[-2:]) if len(x.split('.')) > 2 else x.split('.')[-1], healing_boost_sample_df.columns.tolist()))
    healing_boost_sample_df = healing_boost_sample_df.rename(columns = {'_D': 'log_created_time'})

    # convert list to string in the 'zone' column
    healing_boost_sample_df.loc[:, 'zone'] = healing_boost_sample_df.loc[:, 'zone'].apply(lambda x: x[0] if len(x) > 0 else np.NaN)
    healing_boost_sample_df.loc[:, 'location_y'] = mapy - healing_boost_sample_df.loc[:, 'location_y']
    healing_boost_sample_df.loc[:, 'is_game'] = round(healing_boost_sample_df.loc[:, 'is_game'], 1)
    healing_boost_sample_df['match_id'] = match_id
    
    # date format 변경
    healing_boost_sample_df.loc[:, 'log_created_time'] = healing_boost_sample_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
    
    # drop columns
    healing_boost_sample_df = healing_boost_sample_df.drop(columns = ['_T', 'ranking', 'attached_items', 'category'], axis = 1)
    
    healing_boost_df = pd.concat([healing_boost_df, healing_boost_sample_df], axis = 0, ignore_index = True)
    
print(healing_boost_df.shape)
healing_boost_df.head()

100%|███████████████████████████████████████████| 15/15 [01:05<00:00,  4.39s/it]

(6314, 16)

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,stack_count,sub_category,match_id
0,2022-09-26 01:06:54.695,account.47088cce8b45494cadc6318082647f96,75.204079,False,False,542279.81250,129719.6875,2381.560059,NBG_xXx,11,studio,0.1,Item_Boost_PainKiller_C,1,Boost,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
1,2022-09-26 01:07:04.716,account.47088cce8b45494cadc6318082647f96,80.204079,False,False,542471.06250,131353.8125,2392.379883,NBG_xXx,11,studio,1.0,Item_Boost_EnergyDrink_C,1,Boost,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
2,2022-09-26 01:07:39.568,account.b8f663ca023445f3ac0e9e078768e45c,100.000000,False,False,518863.53125,306003.7500,5930.120117,CVT_JohnWick,2,buksansa,1.0,Item_Boost_PainKiller_C,1,Boost,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
3,2022-09-26 01:07:39.734,account.fc0001796d6740d59d83123c4056f6cb,100.000000,False,False,504956.53125,312413.5625,6873.850098,Ancient_JH_-,6,buksansa,1.0,Item_Heal_MedKit_C,1,Heal,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
4,2022-09-26 01:08:02.730,account.34bd4bd27898449380e4a3f6815cf816,100.000000,False,False,318771.59375,459687.7500,2560.340088,Xana-_-m,14,palace,1.0,Item_Boost_AdrenalineSyringe_C,1,Boost,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2

In [145]:
%%time

healing_boost_df.to_sql(index = False,
                        name = 'healing_boost',
                        con = engine,
                        if_exists = 'append',
                        method = 'multi')

CPU times: user 1.16 s, sys: 194 ms, total: 1.36 s
Wall time: 4.22 s

In [147]:
# local
healing_boost_df.to_sql(index = False,
                        name = 'healing_boost',
                        con = engine_local,
                        if_exists = 'append',
                        method = 'multi')

In [146]:
healing_boost_df_new = pd.concat([healing_boost_df_old, healing_boost_df], axis = 0, ignore_index = True)
print(healing_boost_df_new.shape)

(320471, 16)

In [148]:
healing_boost_df_new.to_csv(f'{path}/data/healing_boost_df.csv', index = False)

## care_package_land_df

In [149]:
def get_weapon_name(items):

    try:
        return [item['item_id'] for item in items if item['sub_category'] == 'Main'][0]
    except IndexError:
        return np.NaN

In [150]:
pubg = PUBG(api_key, shard = 'kakao')

care_package_land_df_old = pd.read_csv(f'{path}/data/care_package_land_df.csv')
print(care_package_land_df_old.shape)

(12216, 8)

In [151]:
care_package_land_df = pd.DataFrame()

for idx in tqdm(range(len(match_json))):
    
    match_id = match_json['data.id'][idx]
    map_name = match_json['data.attributes.mapName'][idx]

    current_match = pubg.match(match_id)
    telemetry = current_match.get_telemetry()
    
    if map_name == 'Tiger_Main':
        mapx, mapy = map_dimensions['Desert_Main']
    else:
        mapx, mapy = map_dimensions[map_name]

    care_package_lands = telemetry.filter_by('log_care_package_land')
    care_package_land_sample_df = pd.DataFrame()
    
    for care_package_land in care_package_lands:
        care_package_land_sample_df = pd.concat([care_package_land_sample_df, pd.json_normalize(care_package_land.to_dict())], axis = 0, ignore_index = True)

    care_package_land_sample_df.columns = list(map(lambda x: ('_').join(x.split('.')[-2:]) if len(x.split('.')) > 2 else x.split('.')[-1], care_package_land_sample_df.columns.tolist()))
    care_package_land_sample_df = care_package_land_sample_df.rename(columns = {'_D': 'log_created_time'})
    
    # extract main item in each package
    care_package_land_sample_df.loc[:, 'items'] = care_package_land_sample_df.loc[:, 'items'].apply(lambda x: get_weapon_name(x))
    care_package_land_sample_df.loc[:, 'location_y'] = mapy - care_package_land_sample_df.loc[:, 'location_y']
    care_package_land_sample_df.loc[care_package_land_sample_df['items'] == 'None', 'items'] = np.nan
    care_package_land_sample_df['match_id'] = match_id
    
    # date format 변경
    care_package_land_sample_df.loc[:, 'log_created_time'] = care_package_land_sample_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
    
    care_package_land_sample_df = care_package_land_sample_df.drop('_T', axis = 1)
    
    care_package_land_df = pd.concat([care_package_land_df, care_package_land_sample_df], axis = 0, ignore_index = True)
    
print(care_package_land_df.shape)
care_package_land_df.head()

100%|███████████████████████████████████████████| 15/15 [01:02<00:00,  4.13s/it]

(350, 8)

,log_created_time,is_game,item_package_id,items,location_x,location_y,location_z,match_id
0,2022-09-26 01:12:17.745,1.5,Carapackage_SmallPackage_C,NaN,605747.4375,364025.90625,1391.097168,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
1,2022-09-26 01:12:17.778,1.5,Carapackage_SmallPackage_C,NaN,601345.5000,365593.21875,1216.543457,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
2,2022-09-26 01:12:18.185,1.5,Carapackage_RedBox_C,Item_Weapon_AWM_C,606451.3125,362755.96875,1336.632446,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
3,2022-09-26 01:12:18.223,1.5,Carapackage_SmallPackage_C,NaN,606065.8125,362518.53125,1284.867920,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
4,2022-09-26 01:12:18.319,1.5,Carapackage_SmallPackage_C,NaN,611535.5000,360770.15625,1471.210571,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2

In [152]:
%%time

care_package_land_df.to_sql(index = False,
                            name = 'supply',
                            con = engine,
                            if_exists = 'append',
                            method = 'multi')

CPU times: user 43.7 ms, sys: 3.2 ms, total: 46.9 ms
Wall time: 131 ms

In [154]:
# local
care_package_land_df.to_sql(index = False,
                            name = 'supply',
                            con = engine_local,
                            if_exists = 'append',
                            method = 'multi')

In [153]:
care_package_land_df_new = pd.concat([care_package_land_df_old, care_package_land_df], axis = 0, ignore_index = True)
print(care_package_land_df_new.shape)

(12566, 8)

In [155]:
care_package_land_df_new.to_csv(f'{path}/data/care_package_land_df.csv', index = False)

## item_pickups_df

In [156]:
pubg = PUBG(api_key, shard = 'kakao')

item_pickup_df_old = pd.read_csv(f'{path}/data/item_pickup_df.csv')
print(item_pickup_df_old.shape)

(44029, 15)

In [157]:
item_pickup_df = pd.DataFrame()


for idx in tqdm(range(len(match_json))):

    match_id = match_json['data.id'][idx]
    map_name = match_json['data.attributes.mapName'][idx]

    current_match = pubg.match(match_id)
    telemetry = current_match.get_telemetry()

    if map_name == 'Tiger_Main':
        mapx, mapy = map_dimensions['Desert_Main']
    else:
        mapx, mapy = map_dimensions[map_name]

    item_pickups = telemetry.filter_by('log_item_pickup')
    item_pickup_sample_df = pd.DataFrame()
    used_id = []

    for item_pickup in item_pickups:
        if (item_pickup['character']['account_id'] not in used_id) & (item_pickup['common']['is_game'] > 0):
            item_pickup_sample_df = pd.concat([item_pickup_sample_df, pd.json_normalize(item_pickup.to_dict())], axis = 0, ignore_index = True)
            used_id.append(item_pickup['character']['account_id'])
    
    item_pickup_sample_df.columns = list(map(lambda x: ('_').join(x.split('.')[-2:]) if len(x.split('.')) > 2 else x.split('.')[-1], item_pickup_sample_df.columns.tolist()))
    item_pickup_sample_df = item_pickup_sample_df.rename(columns = {'_D': 'log_created_time'})
                                                          
    # is_game is float
    item_pickup_sample_df.loc[:, 'is_game'] = round(item_pickup_sample_df.loc[:, 'is_game'], 1)
    item_pickup_sample_df.loc[:, 'location_y'] = mapy - item_pickup_sample_df.loc[:, 'location_y']
    item_pickup_sample_df['match_id'] = match_id
    
    # convert list to string in the 'zone' column
    item_pickup_sample_df.loc[:, 'zone'] = item_pickup_sample_df.loc[:, 'zone'].apply(lambda x: x[0] if len(x) > 0 else np.NaN)
    
    # date format 변경
    item_pickup_sample_df.loc[:, 'log_created_time'] = item_pickup_sample_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
    
    # drop columns
    item_pickup_sample_df = item_pickup_sample_df.drop(columns = ['_T', 'ranking', 'attached_items', 'category', 'stack_count'], axis = 1)

    item_pickup_df = pd.concat([item_pickup_df, item_pickup_sample_df], axis = 0, ignore_index = True)

print(item_pickup_df.shape)
item_pickup_df.head()

100%|███████████████████████████████████████████| 15/15 [01:01<00:00,  4.09s/it]

(916, 15)

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,sub_category,match_id
0,2022-09-26 01:06:21.182,account.eb112897dc5a42258de9f636bbcd270e,100.0,False,False,556102.9375,134779.62500,3109.149902,KOR_yong22,8,studio,0.1,Item_Weapon_ACE32_C,Main,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
1,2022-09-26 01:06:23.487,account.fa0ca568c70648d38768a961f37f8634,100.0,False,False,561863.7500,135996.75000,2382.149902,JeongMiLove,11,studio,0.1,Item_Weapon_Vector_C,Main,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
2,2022-09-26 01:06:26.908,account.ed36de096d8d441fa3f7e77cd8d479af,100.0,False,False,551019.6250,125293.75000,2380.149902,JJoker83,11,studio,0.1,Item_Back_F_02_Lv2_C,Backpack,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
3,2022-09-26 01:06:27.302,account.b8f663ca023445f3ac0e9e078768e45c,100.0,False,False,514886.0000,298576.03125,5903.290039,CVT_JohnWick,2,buksansa,0.1,Item_Attach_Weapon_Lower_HalfGrip_C,None,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2
4,2022-09-26 01:06:27.643,account.f35f7596c0e7474a915acdc41fe9ff84,100.0,False,False,564248.4375,140510.18750,2410.149902,positisup,11,studio,0.1,Item_Weapon_K2_C,Main,cfed0b7a-89d0-4f6f-a883-df3d5b6a2bc2

In [158]:
%%time

item_pickup_df.to_sql(index = False,
                      name = 'item_pickup',
                      con = engine,
                      if_exists = 'append',
                      method = 'multi')

CPU times: user 151 ms, sys: 6.02 ms, total: 157 ms
Wall time: 304 ms

In [160]:
# local
item_pickup_df.to_sql(index = False,
                      name = 'item_pickup',
                      con = engine_local,
                      if_exists = 'append',
                      method = 'multi')

In [159]:
item_pickup_df_new = pd.concat([item_pickup_df_old, item_pickup_df], axis = 0, ignore_index = True)
print(item_pickup_df_new.shape)

(44945, 15)

In [161]:
item_pickup_df_new.to_csv(f'{path}/data/item_pickup_df.csv', index = False)

# Gathering data with functions(Demo)

In [ ]:
def get_participants(match_json, pubg):
    # get participant_id
    for match in range(len(match_json)):

        included_df = pd.json_normalize(match_json['included'][match])

        # participant_df
        participants = included_df[included_df['type'] == 'participant']
        participants.columns = list(map(lambda x: x.split('.')[-1], participants.columns.tolist()))
        participants = participants.loc[:, 'DBNOs': 'participant_id']

        participant_df = pd.concat([participant_df, participants], axis = 0, ignore_index = True)

        # rester_df (Foreign key of participant table)
        match_id = match_json['data.id'][match]
        current_match = pubg.match(match_id)
        participant_to_roster = current_match.participant_to_roster
        roster_sample_df = pd.DataFrame({'participant_id': participant_to_roster.keys()
                                        ,'roster_id': participant_to_roster.values()})
        roster_df = pd.concat([roster_df, roster_sample_df], axis = 0, ignore_index = True)

    participant_df = pd.merge(participant_df, roster_df, on = 'participant_id')
    
    return participant_df

In [90]:
# get telemetry object
def get_telemetry(match_id, api_key, map_name):
    
    pubg = PUBG(api_key, shard = 'kakao')
    current_match = pubg.match(match_id)
    telemetry = current_match.get_telemetry()
    
    # Taego 맵의 dimension 정보가 패키지에 최신화가 되어있지 않아서, 동일한 크기의 map_dimension 사용
    if map_name == 'Tiger_Main':
        mapx, mapy = map_dimensions['Desert_Main']
    else:
        mapx, mapy = map_dimensions[map_name]
    
    return telemetry, mapy, pubg

# get damage table
def get_damages_data(telemetry, mapy):

    telemetry_event = telemetry.events

    # 매치별 damage df 생성
    damage_sample_df = pd.DataFrame()

    for event in tqdm(telemetry_event):

        if event.event_type == 'log_player_take_damage' and hasattr(event, 'damage'):
            data = pd.json_normalize(event.to_dict())
            damage_sample_df = pd.concat([damage_sample_df, data], axis = 0, ignore_index = True)
    
    # match table을 참조하는 Foreign key column
    damage_sample_df['match_id'] = match_id
    damage_sample_df.columns = list(map(lambda x: x.replace('.', '_'), damage_sample_df.columns.tolist()))
    damage_sample_df = damage_sample_df.rename(columns = {'_D': 'log_created_time'})
    
    # DB에 삽입하기 위해 single string or None이 포함된 list를 string으로 변환
    damage_sample_df['attacker_zone'] = damage_sample_df['attacker_zone'][damage_sample_df['attacker_zone'].notnull()].apply(lambda x: x[0] if len(x) > 0 else np.NaN)
    damage_sample_df['victim_zone'] = damage_sample_df['victim_zone'].apply(lambda x: x[0] if len(x) > 0 else np.NaN)
    
    # map 시각화를 위해 y axis dimension 변경
    damage_sample_df['attacker_location_y'] = mapy - damage_sample_df['attacker_location_y']
    damage_sample_df['victim_location_y'] = mapy - damage_sample_df['victim_location_y']
    
    # 불필요한 컬럼 제거
    damage_sample_df = damage_sample_df.drop(['_T', 'attacker', 'attack_id'], axis = 1)

    return damage_sample_df

# get first_vehicle table
def get_vehicles_data(telemetry, mapy):

    vehicles = telemetry.filter_by('log_vehicle_ride')

    first_vehicle_sample_df = pd.DataFrame()
    used_id = []

    # startTime = pd.to_timedelta(telemetry.started()[telemetry.started().find('T')+1:-1])

    # 팀에서 첫 차량 탑승 경우만 구하기
    for vehicle in tqdm(vehicles):

        if vehicle['vehicle']['vehicle_type'] == 'WheeledVehicle' and vehicle['character']['name'] not in used_id:
            first_vehicle_sample_df = pd.concat([first_vehicle_sample_df, pd.json_normalize(vehicle.to_dict())], axis = 0, ignore_index = True)
            used_id.append(vehicle['character']['name'])
    
    first_vehicle_sample_df.columns = list(map(lambda x: ('_').join(x.split('.')[-2:]) if len(x.split('.')) > 2 else x.split('.')[-1], first_vehicle_sample_df.columns.tolist()))
    first_vehicle_sample_df = first_vehicle_sample_df.rename(columns = {'_D': 'log_created_time'})
    
    first_vehicle_sample_df['num_fellow_passengers'] = first_vehicle_sample_df['fellow_passengers'].apply(lambda x: len(x))
    first_vehicle_sample_df['zone'] = first_vehicle_sample_df['zone'].apply(lambda x: x[0] if len(x) > 0 else np.NaN)
    first_vehicle_sample_df['location_y'] = mapy - first_vehicle_sample_df['location_y']
    
    first_vehicle_sample_df = first_vehicle_sample_df.drop(['_T', 'fellow_passengers'], axis = 1)

    return first_vehicle_sample_df

# update tables with recent data
def update_tables():
    damage_df = pd.concat([damage_df, damage_sample_df], axis = 0, ignore_index = True)
    first_vehicle_df = pd.concat([first_vehicle_df, first_vehicle_sample_df], axis = 0, ignore_index = True)
    
    return damage_df, first_vehicle_df

In [82]:
damage_df = pd.DataFrame()
first_vehicle_df = pd.DataFrame()

for idx in tqdm(range(len(match_json))):
    
    match_id = match_json['data.id'][idx]
    map_name = match_json['data.attributes.mapName'][idx]
    
    telemetry, current_match, mapy = get_telemetry(match_id, api_key, map_name)
    damage_sample_df = get_damages_data(telemetry, mapy)
    first_vehicle_sample_df = get_vehicles_data(telemetry, mapy)
    
    damage_df, first_vehicle_df = update_tables()

  0%|                                                   | 0/473 [00:00<?, ?it/s]
  0%|                                                 | 0/35143 [00:00<?, ?it/s]
  7%|██▍                                | 2426/35143 [00:00<00:01, 24006.69it/s]
 27%|█████████▎                         | 9406/35143 [00:00<00:00, 50582.48it/s]
 41%|█████████████▉                    | 14467/35143 [00:01<00:01, 10745.64it/s]
 50%|█████████████████▍                 | 17470/35143 [00:03<00:04, 4077.26it/s]
 55%|███████████████████▎               | 19349/35143 [00:04<00:04, 3174.75it/s]
 59%|████████████████████▌              | 20611/35143 [00:04<00:04, 2936.72it/s]
 61%|█████████████████████▍             | 21516/35143 [00:04<00:04, 3089.89it/s]
 63%|██████████████████████▏            | 22273/35143 [00:05<00:03, 3241.42it/s]
 65%|██████████████████████▊            | 22935/35143 [00:05<00:03, 3269.63it/s]
 67%|███████████████████████▍           | 23497/35143 [00:05<00:03, 3098.66it/s]
 68%|███████████████████████▊           | 23961/35143 [00:05<00:04, 2742.93it/s]
 69%|████████████████████████▏          | 24335/35143 [00:06<00:04, 2317.96it/s]
 70%|████████████████████████▌          | 24633/35143 [00:06<00:05, 2084.70it/s]
 71%|████████████████████████▉          | 24980/35143 [00:06<00:04, 2258.88it/s]
 72%|█████████████████████████▏         | 25273/35143 [00:06<00:04, 2359.53it/s]
 73%|█████████████████████████▌         | 25673/35143 [00:06<00:03, 2649.66it/s]
 74%|█████████████████████████▉         | 25988/35143 [00:06<00:03, 2637.16it/s]
 75%|██████████████████████████▏        | 26287/35143 [00:06<00:03, 2675.07it/s]
 76%|██████████████████████████▌        | 26662/35143 [00:06<00:02, 2909.92it/s]
 77%|██████████████████████████▊        | 26977/35143 [00:07<00:03, 2627.58it/s]
 79%|███████████████████████████▌       | 27621/35143 [00:07<00:02, 3517.39it/s]
 80%|███████████████████████████▉       | 28006/35143 [00:07<00:02, 3247.81it/s]
 81%|████████████████████████████▏      | 28357/35143 [00:07<00:02, 2666.44it/s]
 82%|████████████████████████████▌      | 28656/35143 [00:07<00:02, 2472.33it/s]
 82%|████████████████████████████▊      | 28926/35143 [00:07<00:02, 2519.40it/s]
 83%|█████████████████████████████      | 29195/35143 [00:07<00:02, 2340.41it/s]
 84%|█████████████████████████████▎     | 29442/35143 [00:08<00:02, 2221.48it/s]
 84%|█████████████████████████████▌     | 29673/35143 [00:08<00:02, 1895.60it/s]
 85%|█████████████████████████████▊     | 29874/35143 [00:08<00:03, 1591.19it/s]
 85%|█████████████████████████████▉     | 30046/35143 [00:08<00:03, 1454.41it/s]
 86%|██████████████████████████████     | 30200/35143 [00:08<00:03, 1286.21it/s]
 86%|██████████████████████████████▏    | 30341/35143 [00:08<00:03, 1310.65it/s]
 87%|██████████████████████████████▍    | 30509/35143 [00:08<00:03, 1387.34it/s]
 87%|██████████████████████████████▌    | 30654/35143 [00:09<00:03, 1296.90it/s]
 88%|██████████████████████████████▋    | 30789/35143 [00:09<00:03, 1259.41it/s]
 89%|███████████████████████████████    | 31171/35143 [00:09<00:02, 1901.68it/s]
 89%|███████████████████████████████▎   | 31382/35143 [00:09<00:01, 1947.38it/s]
 90%|███████████████████████████████▍   | 31587/35143 [00:09<00:01, 1785.90it/s]
 90%|███████████████████████████████▋   | 31775/35143 [00:09<00:02, 1677.58it/s]
 91%|███████████████████████████████▊   | 31950/35143 [00:09<00:02, 1538.70it/s]
 93%|████████████████████████████████▍  | 32593/35143 [00:09<00:00, 2733.70it/s]
 94%|████████████████████████████████▊  | 32891/35143 [00:10<00:00, 2754.95it/s]
 94%|█████████████████████████████████  | 33187/35143 [00:10<00:00, 2782.51it/s]
 95%|█████████████████████████████████▎ | 33478/35143 [00:10<00:00, 1771.06it/s]
 96%|█████████████████████████████████▌ | 33710/35143 [00:10<00:00, 1566.49it/s]
 98%|██████████████████████████████████▎| 34426/35143 [00:10<00:00, 2623.43it/s]
 99%|██████████████████████████████████▋| 34774/35143 [00:11<00:00, 1764.66it/s]
100%|███████████████████████████████████| 35143/35143 [00:11<00:00, 3079.17it/s]
  0%|                                                   | 0/473 [00:15<?, ?it/s]

TypeError: unsupported operand type(s) for -: 'PUBG' and 'float'

# Save tables(Demo)

In [ ]:
damage_df.to_csv(f'{path}/data/damage_data.csv')
first_vehicle_df.to_csv(f'{path}/data/first_vehicle_data.csv')

# Get september 8th to 21th Final data & convert datetime

## function to convert datetime

In [ ]:
# gameDate = datetime.strptime(damage_df_14.loc[:, 'log_created_time'][0],'%Y-%m-%dT%H:%M:%S.%fZ')
# gameDate=str(gameDate.strftime('%Y-%m-%d %H:%M:%S'))
# datetime.strptime(gameDate,'%Y-%m-%d %H:%M:%S')

## match_df

In [529]:
match_df = pd.read_csv(f'{path}/data/match_data_sep8to21.csv')
match_df.shape

(520, 9)

In [530]:
match_df_14 = pd.read_csv(f'{path}/data/match_data_sep14.csv')
print(match_df_14.shape)
match_df_14.head()

(42, 9)

,match_id,duration,gameMode,shardId,mapName,isCustomMatch,log_created_time,seasonState,matchType
0,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4,1852,squad,kakao,Desert_Main,False,2022-09-14T00:34:22Z,progress,competitive
1,1506ab73-861e-4eb2-ba16-dec4f342c1ae,1809,squad,kakao,Baltic_Main,False,2022-09-14T00:49:51Z,progress,competitive
2,fe93403e-2ec1-4abc-aaf7-752fceb262c7,1666,squad,kakao,Baltic_Main,False,2022-09-14T03:11:11Z,progress,competitive
3,b03ba132-f809-481b-aaa7-cebcb8ff3c88,1605,squad,kakao,Baltic_Main,False,2022-09-14T04:03:23Z,progress,competitive
4,6ba40978-dd98-4251-917a-39868d2c7e11,1788,squad,kakao,Baltic_Main,False,2022-09-14T05:07:07Z,progress,competitive

In [531]:
match_df = pd.concat([match_df, match_df_14], axis = 0, ignore_index = True)
match_df = match_df.sort_values(ascending = True, by = 'log_created_time').reset_index(drop = True)

print(match_df.shape)
match_df.head()

(562, 9)

,match_id,log_created_time,isCustomMatch,seasonState,duration,gameMode,shardId,mapName,matchType
0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e,2022-09-08T02:15:15Z,False,progress,1686,squad,kakao,Baltic_Main,competitive
1,21a6426c-30ec-44ab-b805-7538649bcb0e,2022-09-08T03:45:51Z,False,progress,1698,squad,kakao,Baltic_Main,competitive
2,28750694-8759-4c9c-aeee-524b352e792b,2022-09-08T05:31:23Z,False,progress,1663,squad,kakao,Desert_Main,competitive
3,cb931f31-0d03-45ca-ba4b-9db240b8e2dc,2022-09-08T05:43:02Z,False,progress,1849,squad,kakao,Tiger_Main,competitive
4,1887bfc0-9948-4a33-856a-23bfe8310b6e,2022-09-08T05:45:26Z,False,progress,1752,squad,kakao,Baltic_Main,competitive

In [533]:
match_df.loc[:, 'log_created_time'] = match_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
match_df.head()

,match_id,log_created_time,isCustomMatch,seasonState,duration,gameMode,shardId,mapName,matchType
0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e,2022-09-08 02:15:15,False,progress,1686,squad,kakao,Baltic_Main,competitive
1,21a6426c-30ec-44ab-b805-7538649bcb0e,2022-09-08 03:45:51,False,progress,1698,squad,kakao,Baltic_Main,competitive
2,28750694-8759-4c9c-aeee-524b352e792b,2022-09-08 05:31:23,False,progress,1663,squad,kakao,Desert_Main,competitive
3,cb931f31-0d03-45ca-ba4b-9db240b8e2dc,2022-09-08 05:43:02,False,progress,1849,squad,kakao,Tiger_Main,competitive
4,1887bfc0-9948-4a33-856a-23bfe8310b6e,2022-09-08 05:45:26,False,progress,1752,squad,kakao,Baltic_Main,competitive

In [534]:
match_df.to_csv(f'{path}/data/match_df.csv', index = False)

## participant_df

In [338]:
participant_df = pd.read_csv(f'{path}/data/participant_df_sep8to21.csv')
print(participant_df.shape)
participant_df.head()

(31963, 25)

,DBNOs,assists,boosts,damageDealt,deathType,headshotKills,heals,killPlace,killStreaks,kills,longestKill,name,playerId,revives,rideDistance,roadKills,swimDistance,teamKills,timeSurvived,vehicleDestroys,walkDistance,weaponsAcquired,winPlace,participant_id,roster_id
0,0,0,6,97.30402,byplayer,0,16,30,0,0,0.000000,OcO_Or7I,account.36abaf6e72fc47c4ba3f0bdcf574f366,1,5895.8400,0,99.77582,0,1259,0,3011.73500,5,6,bf7061bc-4b2d-4eb1-a990-ce12d2e95b59,eb0dfa07-4a64-4212-9ab8-9c5fa3fcef24
1,0,0,3,0.00000,byplayer,0,0,47,0,0,0.000000,mbc118,account.dd5602c2b4604c799bb23949f444c5fb,0,5693.0960,0,0.00000,0,689,0,807.48140,5,13,916fed11-7c16-4173-97d0-76c5c2164c2e,3ab0504c-84ff-4a2e-8822-ae413b002080
2,0,0,1,0.00000,byplayer,0,0,49,0,0,0.000000,MxNJxNG3_3,account.a3eb4c8b53584d54a48590089b5cfab2,0,5780.8710,0,0.00000,0,621,0,477.76282,4,13,8f3d44bb-78be-4b2c-b2f7-55aae504949b,3ab0504c-84ff-4a2e-8822-ae413b002080
3,3,0,7,211.72002,byplayer,1,40,14,1,2,94.650246,KOR_autoshot,account.868e1dda45cc407492c17faafaa32e04,0,3354.6648,0,0.00000,0,1098,0,3634.72630,4,10,bdb4f9bd-50cd-4e3a-9c82-f526e2dd2a65,7680974c-f0c9-451f-98df-ee25f35f5890
4,1,0,0,188.18512,byplayer,0,0,54,0,0,0.000000,ZZAMZI____,account.de7684f75e584e7dbbf64f7a20cc49dd,0,0.0000,0,0.00000,0,392,0,246.53839,3,14,fd6309f7-8498-48ac-8531-68a58c1903b3,f4ca82f0-4df7-48b6-a967-1ad1c8b0fba6

In [339]:
participant_df_14 = pd.read_csv(f'{path}/data/participant_df_sep14.csv')
print(participant_df_14.shape)
participant_df_14.head()

(2576, 25)

,DBNOs,assists,boosts,damageDealt,deathType,headshotKills,heals,killPlace,killStreaks,kills,longestKill,name,playerId,revives,rideDistance,roadKills,swimDistance,teamKills,timeSurvived,vehicleDestroys,walkDistance,weaponsAcquired,winPlace,participant_id,roster_id
0,0,1,9,281.78314,byplayer,0,2,18,1,1,26.034956,Hyper-Jun,account.5628af6c37114c72a0acf667c12ee496,1,4808.9214,0,0.0,0,1849,0,1619.8722,6,2,ab9f847e-8af7-4347-8de7-707ad7904fa9,fdcad612-9d7c-46fa-b45c-6df2b0b96cf0
1,1,1,10,226.94252,byplayer,0,8,20,1,1,103.512054,Bing_Pan_Jo_Sim,account.c979efb8e17a4c91b05a85a340b5dc9c,1,8835.4270,0,0.0,0,1387,0,1620.9353,4,6,7d98b307-014e-40f1-a1d9-d46221a8ce0f,7ed8eb99-f976-48ca-9fd7-643b44640c4e
2,0,0,1,48.99302,byplayer,0,0,40,0,0,0.000000,PINE_SCENT,account.390c37ecbfda4a7ea01e13b7fce35c98,0,4203.9985,0,0.0,0,1216,0,1155.1205,5,9,9837dff0-8d65-4e56-81a5-ab6829942906,ea74a1b2-f789-410c-9729-aa79b9b38ce6
3,1,0,12,219.75180,byplayer,0,6,31,0,0,0.000000,Luckyperson--,account.29a5856be7af4f9e92edbe9279e05e37,0,5033.0215,0,0.0,0,1622,0,1526.3473,4,4,64aa1c50-5a80-4ad1-916c-f0eadf1b6a00,bd50245c-6e10-40a1-9b84-9e2edd69281e
4,0,0,6,0.00000,byplayer,0,14,35,0,0,0.000000,lukyneo,account.1be4f7afe046428c95d5c9bea7cc8a45,0,1941.2383,0,0.0,0,1222,0,1998.7200,5,6,5719c83d-8503-4afb-a2ad-06aa59988258,7ed8eb99-f976-48ca-9fd7-643b44640c4e

In [340]:
participant_df = pd.concat([participant_df, participant_df_14], axis = 0, ignore_index = True)

print(participant_df.shape)
participant_df.head()

(34539, 25)

,DBNOs,assists,boosts,damageDealt,deathType,headshotKills,heals,killPlace,killStreaks,kills,longestKill,name,playerId,revives,rideDistance,roadKills,swimDistance,teamKills,timeSurvived,vehicleDestroys,walkDistance,weaponsAcquired,winPlace,participant_id,roster_id
0,0,0,6,97.30402,byplayer,0,16,30,0,0,0.000000,OcO_Or7I,account.36abaf6e72fc47c4ba3f0bdcf574f366,1,5895.8400,0,99.77582,0,1259,0,3011.73500,5,6,bf7061bc-4b2d-4eb1-a990-ce12d2e95b59,eb0dfa07-4a64-4212-9ab8-9c5fa3fcef24
1,0,0,3,0.00000,byplayer,0,0,47,0,0,0.000000,mbc118,account.dd5602c2b4604c799bb23949f444c5fb,0,5693.0960,0,0.00000,0,689,0,807.48140,5,13,916fed11-7c16-4173-97d0-76c5c2164c2e,3ab0504c-84ff-4a2e-8822-ae413b002080
2,0,0,1,0.00000,byplayer,0,0,49,0,0,0.000000,MxNJxNG3_3,account.a3eb4c8b53584d54a48590089b5cfab2,0,5780.8710,0,0.00000,0,621,0,477.76282,4,13,8f3d44bb-78be-4b2c-b2f7-55aae504949b,3ab0504c-84ff-4a2e-8822-ae413b002080
3,3,0,7,211.72002,byplayer,1,40,14,1,2,94.650246,KOR_autoshot,account.868e1dda45cc407492c17faafaa32e04,0,3354.6648,0,0.00000,0,1098,0,3634.72630,4,10,bdb4f9bd-50cd-4e3a-9c82-f526e2dd2a65,7680974c-f0c9-451f-98df-ee25f35f5890
4,1,0,0,188.18512,byplayer,0,0,54,0,0,0.000000,ZZAMZI____,account.de7684f75e584e7dbbf64f7a20cc49dd,0,0.0000,0,0.00000,0,392,0,246.53839,3,14,fd6309f7-8498-48ac-8531-68a58c1903b3,f4ca82f0-4df7-48b6-a967-1ad1c8b0fba6

In [ ]:
participant_df.to_csv(f'{path}/data/participant_df.csv', index = False)

## roster_df

In [343]:
roster_df = pd.read_csv(f'{path}/data/roster_df_sep8to21.csv')
print(roster_df.shape)
roster_df.head()

(8795, 5)

,id,rank,teamId,type,match_id
0,1d4efbc1-1908-492b-b080-3367a67f5c9a,3.0,1.0,roster,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,0ca464c3-dd40-455c-9c42-7cbea5b7be0b,15.0,9.0,roster,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,fa0c2447-ab5a-4364-aba7-4397a48406d5,16.0,4.0,roster,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,6bc09c9f-ed12-4009-92c1-cf3d6d255603,11.0,8.0,roster,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,3d48e01c-953b-4a31-8618-67d2e1215ba7,2.0,10.0,roster,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [346]:
roster_df_14 = pd.read_csv(f'{path}/data/roster_df_sep14.csv')
print(roster_df_14.shape)
roster_df_14.head()

(709, 5)

,id,rank,teamId,type,match_id
0,0762da72-76a3-4995-8942-a45ea1ee0c75,14.0,12.0,roster,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
1,31e34ed0-b29b-4d1d-9a71-21c562a114c3,16.0,2.0,roster,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
2,b6db4991-4b37-4cdc-b178-4bc67918c767,12.0,7.0,roster,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
3,6f879fec-c218-4177-99e2-c50f16854a2f,1.0,14.0,roster,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
4,618002a3-2cac-4f8c-8890-d14c7d969f64,3.0,4.0,roster,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4

In [347]:
roster_df = pd.concat([roster_df, roster_df_14], axis = 0, ignore_index = True)

roster_df.loc[:, ['rank', 'teamId']] = roster_df.loc[:, ['rank', 'teamId']].astype('int64')
roster_df = roster_df.rename(columns = {'teamId': 'team_id'})

print(roster_df.dtypes)
print(roster_df.shape)
roster_df.head()

(9504, 5)

,id,rank,teamId,type,match_id
0,1d4efbc1-1908-492b-b080-3367a67f5c9a,3.0,1.0,roster,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,0ca464c3-dd40-455c-9c42-7cbea5b7be0b,15.0,9.0,roster,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,fa0c2447-ab5a-4364-aba7-4397a48406d5,16.0,4.0,roster,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,6bc09c9f-ed12-4009-92c1-cf3d6d255603,11.0,8.0,roster,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,3d48e01c-953b-4a31-8618-67d2e1215ba7,2.0,10.0,roster,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [ ]:
roster_df.to_csv(f'{path}/data/roster_df.csv', index = False)

## damage_df

In [496]:
damage_df = pd.read_csv(f'{path}/data/damage_data_sep8to21.csv')
damage_df.shape

(2061108, 30)

In [497]:
damage_df_14 = pd.read_csv(f'{path}/data/damage_data_sep14.csv')
print(damage_df_14.shape)
damage_df_14.head()

(161256, 30)

,log_created_time,damage,damage_causer_name,damage_reason,damage_type_category,is_through_penetrable_wall,attacker_account_id,attacker_health,attacker_is_in_blue_zone,attacker_is_in_red_zone,attacker_location_x,attacker_location_y,attacker_location_z,attacker_name,attacker_ranking,attacker_team_id,attacker_zone,is_game,victim_account_id,victim_health,victim_is_in_blue_zone,victim_is_in_red_zone,victim_location_x,victim_location_y,victim_location_z,victim_name,victim_ranking,victim_team_id,victim_zone,match_id
0,2022-09-14T00:35:42.249Z,46.036224,WeapM1911_C,TorsoShot,Damage_Gun,False,account.7e4b1ba3f1ea48e695cc53be8257c6ac,100.0,False,False,325824.43750,471257.00000,13805.509766,qweasdzxcy,0.0,15.0,powergrid,0.1,account.495f5d783cd748cdb6da80c7103b684d,100.000000,False,False,325509.43750,470971.90625,13777.490234,sse_jun,0,2,powergrid,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
1,2022-09-14T00:35:42.383Z,46.061897,WeapM1911_C,TorsoShot,Damage_Gun,False,account.7e4b1ba3f1ea48e695cc53be8257c6ac,100.0,False,False,325757.71875,471258.75000,13805.509766,qweasdzxcy,0.0,15.0,powergrid,0.1,account.495f5d783cd748cdb6da80c7103b684d,53.963776,False,False,325508.84375,470966.81250,13777.500000,sse_jun,0,2,powergrid,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
2,2022-09-14T00:35:42.684Z,7.901878,WeapM1911_C,TorsoShot,Damage_Gun,False,account.7e4b1ba3f1ea48e695cc53be8257c6ac,100.0,False,False,325612.68750,471225.15625,13805.509766,qweasdzxcy,0.0,15.0,powergrid,0.1,account.495f5d783cd748cdb6da80c7103b684d,7.901878,False,False,325476.06250,470952.53125,13777.500000,sse_jun,0,2,powergrid,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
3,2022-09-14T00:35:42.918Z,0.000000,WeapM1911_C,PelvisShot,Damage_Gun,False,account.7e4b1ba3f1ea48e695cc53be8257c6ac,100.0,False,False,325528.00000,471184.81250,13805.509766,qweasdzxcy,0.0,15.0,powergrid,0.1,account.495f5d783cd748cdb6da80c7103b684d,0.000000,False,False,325464.43750,470937.59375,13805.500000,sse_jun,0,2,powergrid,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
4,2022-09-14T00:35:44.699Z,0.000000,PlayerFemale_A_C,None,Damage_Groggy,False,account.495f5d783cd748cdb6da80c7103b684d,0.0,False,False,325471.40625,470839.12500,13805.500000,sse_jun,0.0,2.0,powergrid,0.1,account.495f5d783cd748cdb6da80c7103b684d,0.000000,False,False,325471.40625,470839.12500,13805.500000,sse_jun,0,2,powergrid,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4

In [499]:
damage_df = pd.concat([damage_df, damage_df_14], axis = 0, ignore_index = True)
damage_df = damage_df.sort_values(ascending = True, by = 'log_created_time').reset_index(drop = True)

print(damage_df.shape)
damage_df.head()

(2222364, 30)

,log_created_time,damage,damage_causer_name,damage_reason,damage_type_category,is_through_penetrable_wall,attacker_account_id,attacker_health,attacker_is_in_blue_zone,attacker_is_in_red_zone,attacker_location_x,attacker_location_y,attacker_location_z,attacker_name,attacker_ranking,attacker_team_id,attacker_zone,is_game,victim_account_id,victim_health,victim_is_in_blue_zone,victim_is_in_red_zone,victim_location_x,victim_location_y,victim_location_z,victim_name,victim_ranking,victim_team_id,victim_zone,match_id
0,2022-09-08T02:16:09.947Z,15.290588,PlayerMale_A_C,NonSpecific,Damage_Instant_Fall,False,account.54f0a1409cdd41b4b8c670820ff2049d,100.0,False,False,601974.68750,211950.1875,90.160004,KAR98K-Master-_-,0.0,5.0,novorepnoye,0.1,account.54f0a1409cdd41b4b8c670820ff2049d,100.000000,False,False,601974.68750,211950.18750,90.160004,KAR98K-Master-_-,0,5,novorepnoye,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08T02:16:26.937Z,44.649998,WeapAK47_C,TorsoShot,Damage_Gun,False,account.2b2881a980fb4b1bbb662143fed93930,100.0,False,False,608011.50000,223550.3750,360.809998,oioiuu12,0.0,8.0,novorepnoye,0.1,account.868e1dda45cc407492c17faafaa32e04,100.000000,False,False,610419.12500,219262.12500,479.149994,KOR_autoshot,0,5,novorepnoye,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08T02:16:28.340Z,46.836262,WeapAK47_C,PelvisShot,Damage_Gun,False,account.2b2881a980fb4b1bbb662143fed93930,100.0,False,False,608011.50000,223550.3750,360.809998,oioiuu12,0.0,8.0,novorepnoye,0.1,account.868e1dda45cc407492c17faafaa32e04,55.350002,False,False,610893.00000,218883.75000,388.640015,KOR_autoshot,0,5,novorepnoye,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08T02:16:36.692Z,21.303247,PlayerFemale_A_C,NonSpecific,Damage_Instant_Fall,False,account.688ca3b336694c82a2943e2775635a0c,100.0,False,False,444171.03125,481233.5625,1047.689941,Korea_SaDang_,0.0,2.0,school,0.1,account.688ca3b336694c82a2943e2775635a0c,100.000000,False,False,444171.03125,481233.56250,1047.689941,Korea_SaDang_,0,2,school,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08T02:16:40.085Z,13.740561,WeapBizonPP19_C,LegShot,Damage_Gun,False,account.3c19712b27a04b9ea9f3c874a58f53b2,100.0,False,False,435269.25000,481940.6875,1811.459961,kim9754,0.0,3.0,school,0.1,account.649edfe938974f139344eb8204429c04,100.000000,False,False,435665.15625,487523.15625,190.429993,beet4789,0,2,school,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [503]:
damage_df.loc[:, 'log_created_time'] = damage_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
damage_df.head()

,log_created_time,damage,damage_causer_name,damage_reason,damage_type_category,is_through_penetrable_wall,attacker_account_id,attacker_health,attacker_is_in_blue_zone,attacker_is_in_red_zone,attacker_location_x,attacker_location_y,attacker_location_z,attacker_name,attacker_ranking,attacker_team_id,attacker_zone,is_game,victim_account_id,victim_health,victim_is_in_blue_zone,victim_is_in_red_zone,victim_location_x,victim_location_y,victim_location_z,victim_name,victim_ranking,victim_team_id,victim_zone,match_id
0,2022-09-08 02:16:09.947,15.290588,PlayerMale_A_C,NonSpecific,Damage_Instant_Fall,False,account.54f0a1409cdd41b4b8c670820ff2049d,100.0,False,False,601974.68750,211950.1875,90.160004,KAR98K-Master-_-,0.0,5.0,novorepnoye,0.1,account.54f0a1409cdd41b4b8c670820ff2049d,100.000000,False,False,601974.68750,211950.18750,90.160004,KAR98K-Master-_-,0,5,novorepnoye,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08 02:16:26.937,44.649998,WeapAK47_C,TorsoShot,Damage_Gun,False,account.2b2881a980fb4b1bbb662143fed93930,100.0,False,False,608011.50000,223550.3750,360.809998,oioiuu12,0.0,8.0,novorepnoye,0.1,account.868e1dda45cc407492c17faafaa32e04,100.000000,False,False,610419.12500,219262.12500,479.149994,KOR_autoshot,0,5,novorepnoye,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08 02:16:28.340,46.836262,WeapAK47_C,PelvisShot,Damage_Gun,False,account.2b2881a980fb4b1bbb662143fed93930,100.0,False,False,608011.50000,223550.3750,360.809998,oioiuu12,0.0,8.0,novorepnoye,0.1,account.868e1dda45cc407492c17faafaa32e04,55.350002,False,False,610893.00000,218883.75000,388.640015,KOR_autoshot,0,5,novorepnoye,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08 02:16:36.692,21.303247,PlayerFemale_A_C,NonSpecific,Damage_Instant_Fall,False,account.688ca3b336694c82a2943e2775635a0c,100.0,False,False,444171.03125,481233.5625,1047.689941,Korea_SaDang_,0.0,2.0,school,0.1,account.688ca3b336694c82a2943e2775635a0c,100.000000,False,False,444171.03125,481233.56250,1047.689941,Korea_SaDang_,0,2,school,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08 02:16:40.085,13.740561,WeapBizonPP19_C,LegShot,Damage_Gun,False,account.3c19712b27a04b9ea9f3c874a58f53b2,100.0,False,False,435269.25000,481940.6875,1811.459961,kim9754,0.0,3.0,school,0.1,account.649edfe938974f139344eb8204429c04,100.000000,False,False,435665.15625,487523.15625,190.429993,beet4789,0,2,school,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [ ]:
damage_df.to_csv(f'{path}/data/damage_df.csv', index = False)

## first_vehicle_df

In [504]:
first_vehicle_df = pd.read_csv(f'{path}/data/first_vehicle_data_sep8to21.csv')
first_vehicle_df.shape

(25231, 26)

In [505]:
first_vehicle_df_14 = pd.read_csv(f'{path}/data/first_vehicle_data_sep14.csv')
print(first_vehicle_df_14.shape)
first_vehicle_df_14.head()

(2071, 26)

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,ranking,team_id,zone,is_game,altitude_abs,altitude_rel,feul_percent,health_percent,is_engine_on,is_in_water_volume,is_wheels_in_air,seat_index,vehicle_id,vehicle_type,velocity,num_fellow_passengers,match_id
0,2022-09-14T00:35:55.796Z,account.ba06f74f105d4da4b3332002f7f81baf,100.0,False,False,246993.750000,393636.687500,4899.107910,TG_WxxK,0,13,NaN,1.0,0,0,90.451797,100.0,False,False,False,1,BP_PickupTruck_A_03_C,WheeledVehicle,0.000000,0,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
1,2022-09-14T00:35:58.967Z,account.9daae8d8a7734444971b009033011a22,100.0,False,False,170215.468750,343325.593750,6696.310059,F1RSTEP-_-,0,4,ladrillera,1.0,0,0,100.000000,100.0,False,False,False,1,BP_PickupTruck_A_esports_C,WheeledVehicle,0.000000,0,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
2,2022-09-14T00:35:59.068Z,account.4a24cb66cf1242d3b318d8b98af28e90,100.0,False,False,170297.375000,343336.875000,6690.632812,PGI_S_Bullet,0,4,ladrillera,1.0,0,0,100.000000,100.0,False,False,False,0,BP_PickupTruck_A_esports_C,WheeledVehicle,0.000000,1,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
3,2022-09-14T00:35:59.803Z,account.1e03c37736ba484fa115232ba18cddfe,100.0,False,False,246960.859375,393563.781250,4903.808105,NaSuzyYa_s2,0,13,NaN,1.0,0,0,90.227440,100.0,True,False,False,2,BP_PickupTruck_A_03_C,WheeledVehicle,83.660561,1,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
4,2022-09-14T00:36:06.715Z,account.e8876d74801f465ca6aeb4d892b0f38f,100.0,False,False,291123.062500,655159.609375,9615.349609,honest031301,0,3,lacobreria,1.0,0,0,84.391960,100.0,False,False,False,1,BP_PickupTruck_A_02_C,WheeledVehicle,0.000000,0,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4

In [506]:
first_vehicle_df = pd.concat([first_vehicle_df, first_vehicle_df_14], axis = 0, ignore_index = True)
first_vehicle_df = first_vehicle_df.sort_values(ascending = True, by = 'log_created_time').reset_index(drop = True)

print(first_vehicle_df.shape)
first_vehicle_df.head()

(27302, 26)

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,ranking,team_id,zone,is_game,altitude_abs,altitude_rel,feul_percent,health_percent,is_engine_on,is_in_water_volume,is_wheels_in_air,seat_index,vehicle_id,vehicle_type,velocity,num_fellow_passengers,match_id
0,2022-09-08T02:16:26.680Z,account.57cfe2c169514e70af4aa351b3c9ccd0,100.0,False,False,433206.68750,352098.96875,2095.948486,Refereum-,0,1,NaN,0.1,0,0,100.000000,100.0,False,False,False,1,Uaz_B_01_esports_C,WheeledVehicle,0.0,0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08T02:16:34.054Z,account.9cced7226d6742558837a4c3e0866bc6,100.0,False,False,408381.78125,472879.93750,211.396149,CVT_DancingQueen,0,6,school,0.1,0,0,100.000000,100.0,False,False,False,3,Uaz_B_01_esports_C,WheeledVehicle,0.0,0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08T02:16:39.161Z,account.8bafbe04fa3c42ec88ed471e2867ec1f,100.0,False,False,548858.31250,460668.18750,631.542969,hello_diva,0,10,NaN,0.1,0,0,74.759491,100.0,False,False,False,0,BP_CoupeRB_C,WheeledVehicle,0.0,0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08T02:16:42.168Z,account.c0c62ff664a3423b98f75a22982156d3,100.0,False,False,312927.50000,436629.62500,3519.785400,yeony_71,0,14,NaN,0.1,0,0,69.876312,100.0,False,False,False,0,BP_Motorbike_04_C,WheeledVehicle,0.0,0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08T02:16:45.640Z,account.bdd54783b9da4d4b89184aadefebf183,100.0,False,False,584630.31250,451116.43750,146.504547,1Turnes,0,10,NaN,1.0,0,0,46.850773,100.0,False,False,False,1,BP_CoupeRB_C,WheeledVehicle,0.0,0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [507]:
first_vehicle_df.loc[:, 'log_created_time'] = first_vehicle_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
first_vehicle_df.head()

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,ranking,team_id,zone,is_game,altitude_abs,altitude_rel,feul_percent,health_percent,is_engine_on,is_in_water_volume,is_wheels_in_air,seat_index,vehicle_id,vehicle_type,velocity,num_fellow_passengers,match_id
0,2022-09-08 02:16:26.680,account.57cfe2c169514e70af4aa351b3c9ccd0,100.0,False,False,433206.68750,352098.96875,2095.948486,Refereum-,0,1,NaN,0.1,0,0,100.000000,100.0,False,False,False,1,Uaz_B_01_esports_C,WheeledVehicle,0.0,0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08 02:16:34.054,account.9cced7226d6742558837a4c3e0866bc6,100.0,False,False,408381.78125,472879.93750,211.396149,CVT_DancingQueen,0,6,school,0.1,0,0,100.000000,100.0,False,False,False,3,Uaz_B_01_esports_C,WheeledVehicle,0.0,0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08 02:16:39.161,account.8bafbe04fa3c42ec88ed471e2867ec1f,100.0,False,False,548858.31250,460668.18750,631.542969,hello_diva,0,10,NaN,0.1,0,0,74.759491,100.0,False,False,False,0,BP_CoupeRB_C,WheeledVehicle,0.0,0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08 02:16:42.168,account.c0c62ff664a3423b98f75a22982156d3,100.0,False,False,312927.50000,436629.62500,3519.785400,yeony_71,0,14,NaN,0.1,0,0,69.876312,100.0,False,False,False,0,BP_Motorbike_04_C,WheeledVehicle,0.0,0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08 02:16:45.640,account.bdd54783b9da4d4b89184aadefebf183,100.0,False,False,584630.31250,451116.43750,146.504547,1Turnes,0,10,NaN,1.0,0,0,46.850773,100.0,False,False,False,1,BP_CoupeRB_C,WheeledVehicle,0.0,0,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [508]:
first_vehicle_df.to_csv(f'{path}/data/first_vehicle_df.csv', index = False)

## throwable_df

In [509]:
throwable_df = pd.read_csv(f'{path}/data/throwable_data_sep8to21.csv')
throwable_df.shape

(81331, 16)

In [510]:
throwable_df_14 = pd.read_csv(f'{path}/data/throwable_data_sep14.csv')
print(throwable_df_14.shape)
throwable_df_14.head()

(6781, 16)

,log_created_time,fire_weapon_stack_count,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,sub_category,match_id
0,2022-09-14T00:39:28.364Z,1,account.c979efb8e17a4c91b05a85a340b5dc9c,100.0,False,False,259567.93750,283759.875000,14464.549805,Bing_Pan_Jo_Sim,1,chumacera,1.0,Item_Weapon_FlashBang_C,Throwable,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
1,2022-09-14T00:41:07.380Z,1,account.1ae680a24ba74d41850d14fb9c1b5d3e,75.0,False,False,488112.75000,605516.796875,4922.220215,Prime_Chua,12,None,1.5,Item_Weapon_SmokeBomb_C,Throwable,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
2,2022-09-14T00:41:10.696Z,2,account.1ae680a24ba74d41850d14fb9c1b5d3e,75.0,False,False,488369.90625,605563.234375,4991.750000,Prime_Chua,12,None,1.5,Item_Weapon_SmokeBomb_C,Throwable,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
3,2022-09-14T00:41:12.427Z,1,account.dc4af33857bd46c981a2aba113704d86,78.0,False,False,488500.31250,605754.078125,5012.240234,nossssssssssss,12,None,1.5,Item_Weapon_SmokeBomb_C,Throwable,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
4,2022-09-14T00:41:37.354Z,1,account.0f8f3fb86fc24350a982242f90f56ba6,100.0,False,False,616240.43750,555303.625000,5844.060059,ay6203,14,elazahar,1.5,Item_Weapon_SmokeBomb_C,Throwable,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4

In [511]:
throwable_df = pd.concat([throwable_df, throwable_df_14], axis = 0, ignore_index = True)
throwable_df = throwable_df.sort_values(ascending = True, by = 'log_created_time').reset_index(drop = True)

print(throwable_df.shape)
throwable_df.head()

(88112, 16)

,log_created_time,fire_weapon_stack_count,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,sub_category,match_id
0,2022-09-08T02:18:11.002Z,1,account.cc9a6def17f548b3b5b39babdda3b1f8,57.537251,False,False,370122.56250,697694.210938,498.869995,rnjsdmsco__,11,severny,1.0,Item_Weapon_FlashBang_C,Throwable,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08T02:18:38.548Z,1,account.9c38e85f77f94a63968633b2736f4683,100.000000,False,False,382953.09375,691135.710938,123.750000,GaBoJaIt_sexygay,9,severny,1.0,Item_Weapon_SmokeBomb_C,Throwable,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08T02:18:45.080Z,1,account.9c38e85f77f94a63968633b2736f4683,100.000000,False,False,382588.59375,689355.359375,230.149994,GaBoJaIt_sexygay,9,severny,1.0,Item_Weapon_Molotov_C,Throwable,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08T02:18:51.191Z,1,account.9c38e85f77f94a63968633b2736f4683,100.000000,False,False,382122.68750,688961.921875,184.759995,GaBoJaIt_sexygay,9,severny,1.0,Item_Weapon_Grenade_C,Throwable,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08T02:19:14.687Z,1,account.62328cc9b5fa4db68bc014ee5d3bd758,100.000000,False,False,602330.43750,220007.187500,827.150024,KOR_autoJJong,5,novorepnoye,1.0,Item_Weapon_Grenade_C,Throwable,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [512]:
throwable_df.loc[:, 'log_created_time'] = throwable_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
throwable_df.head()

,log_created_time,fire_weapon_stack_count,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,sub_category,match_id
0,2022-09-08 02:18:11.002,1,account.cc9a6def17f548b3b5b39babdda3b1f8,57.537251,False,False,370122.56250,697694.210938,498.869995,rnjsdmsco__,11,severny,1.0,Item_Weapon_FlashBang_C,Throwable,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08 02:18:38.548,1,account.9c38e85f77f94a63968633b2736f4683,100.000000,False,False,382953.09375,691135.710938,123.750000,GaBoJaIt_sexygay,9,severny,1.0,Item_Weapon_SmokeBomb_C,Throwable,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08 02:18:45.080,1,account.9c38e85f77f94a63968633b2736f4683,100.000000,False,False,382588.59375,689355.359375,230.149994,GaBoJaIt_sexygay,9,severny,1.0,Item_Weapon_Molotov_C,Throwable,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08 02:18:51.191,1,account.9c38e85f77f94a63968633b2736f4683,100.000000,False,False,382122.68750,688961.921875,184.759995,GaBoJaIt_sexygay,9,severny,1.0,Item_Weapon_Grenade_C,Throwable,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08 02:19:14.687,1,account.62328cc9b5fa4db68bc014ee5d3bd758,100.000000,False,False,602330.43750,220007.187500,827.150024,KOR_autoJJong,5,novorepnoye,1.0,Item_Weapon_Grenade_C,Throwable,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [513]:
throwable_df.to_csv(f'{path}/data/throwable_df.csv', index = False)

## healing_boost_df

In [514]:
healing_boost_df = pd.read_csv(f'{path}/data/healing_boost_data_sep8to21.csv')
healing_boost_df.shape

(226353, 16)

In [515]:
healing_boost_df_14 = pd.read_csv(f'{path}/data/healing_boost_data_sep14.csv')
print(healing_boost_df_14.shape)
healing_boost_df_14.head()

(18372, 16)

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,stack_count,sub_category,match_id
0,2022-09-14T00:36:08.819Z,account.25ff88e65eb248d2bbd83b976ad9e74c,54.967274,False,False,186499.484375,536152.03125,9053.650391,ME-GI,5,elpozo,1.0,Item_Boost_PainKiller_C,1,Boost,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
1,2022-09-14T00:36:18.439Z,account.7f97e7e3a141401186e65806c5db2606,12.267937,False,False,326812.625000,468864.81250,13777.570312,Phobia_DONG,2,powergrid,1.0,Item_Heal_FirstAid_C,1,Heal,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
2,2022-09-14T00:36:30.629Z,account.7f97e7e3a141401186e65806c5db2606,75.000000,False,False,326674.656250,468679.75000,13777.570312,Phobia_DONG,2,powergrid,1.0,Item_Boost_PainKiller_C,1,Boost,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
3,2022-09-14T00:36:53.809Z,account.74247c694e83451e8c45434e326e75b8,32.920002,False,False,319024.406250,458871.31250,13795.849609,MICHIKO_LONDON,15,powergrid,1.0,Item_Heal_FirstAid_C,2,Heal,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
4,2022-09-14T00:36:55.110Z,account.93fdddc512f441219d34909dceb0836e,41.227161,False,False,170146.687500,531402.25000,10488.049805,BOT-II,16,elpozo,1.0,Item_Heal_FirstAid_C,1,Heal,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4

In [516]:
healing_boost_df = pd.concat([healing_boost_df, healing_boost_df_14], axis = 0, ignore_index = True)
healing_boost_df = healing_boost_df.sort_values(ascending = True, by = 'log_created_time').reset_index(drop = True)

print(healing_boost_df.shape)
healing_boost_df.head()

(244725, 16)

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,stack_count,sub_category,match_id
0,2022-09-08T02:16:48.913Z,account.868e1dda45cc407492c17faafaa32e04,8.513741,False,False,614051.3750,217682.1250,171.750000,KOR_autoshot,5,novorepnoye,1.0,Item_Heal_FirstAid_C,1,Heal,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08T02:16:53.520Z,account.868e1dda45cc407492c17faafaa32e04,75.000000,False,False,614051.5000,217664.3125,171.750000,KOR_autoshot,5,novorepnoye,1.0,Item_Boost_EnergyDrink_C,2,Boost,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08T02:16:57.528Z,account.868e1dda45cc407492c17faafaa32e04,77.000000,False,False,614201.9375,217446.3750,171.750000,KOR_autoshot,5,novorepnoye,1.0,Item_Boost_EnergyDrink_C,1,Boost,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08T02:16:58.795Z,account.36abaf6e72fc47c4ba3f0bdcf574f366,100.000000,False,False,619517.0625,218109.6250,108.910004,OcO_Or7I,12,novorepnoye,1.0,Item_Boost_EnergyDrink_C,1,Boost,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08T02:17:22.000Z,account.33a59085c24c404fbccfa73edb0c8e76,44.510098,False,False,616371.9375,213522.7500,90.160004,OcO_SuYa,12,novorepnoye,1.0,Item_Boost_EnergyDrink_C,4,Boost,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [517]:
healing_boost_df.loc[:, 'log_created_time'] = healing_boost_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
healing_boost_df.head()

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,stack_count,sub_category,match_id
0,2022-09-08 02:16:48.913,account.868e1dda45cc407492c17faafaa32e04,8.513741,False,False,614051.3750,217682.1250,171.750000,KOR_autoshot,5,novorepnoye,1.0,Item_Heal_FirstAid_C,1,Heal,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08 02:16:53.520,account.868e1dda45cc407492c17faafaa32e04,75.000000,False,False,614051.5000,217664.3125,171.750000,KOR_autoshot,5,novorepnoye,1.0,Item_Boost_EnergyDrink_C,2,Boost,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08 02:16:57.528,account.868e1dda45cc407492c17faafaa32e04,77.000000,False,False,614201.9375,217446.3750,171.750000,KOR_autoshot,5,novorepnoye,1.0,Item_Boost_EnergyDrink_C,1,Boost,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08 02:16:58.795,account.36abaf6e72fc47c4ba3f0bdcf574f366,100.000000,False,False,619517.0625,218109.6250,108.910004,OcO_Or7I,12,novorepnoye,1.0,Item_Boost_EnergyDrink_C,1,Boost,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08 02:17:22.000,account.33a59085c24c404fbccfa73edb0c8e76,44.510098,False,False,616371.9375,213522.7500,90.160004,OcO_SuYa,12,novorepnoye,1.0,Item_Boost_EnergyDrink_C,4,Boost,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [518]:
healing_boost_df.to_csv(f'{path}/data/healing_boost_df.csv', index = False)

## care_package_land_df

In [519]:
care_package_land_df = pd.read_csv(f'{path}/data/care_package_land_data_sep8to21.csv')
care_package_land_df.shape

(8786, 8)

In [520]:
care_package_land_df_14 = pd.read_csv(f'{path}/data/care_package_land_data_sep14.csv')
print(care_package_land_df_14.shape)
care_package_land_df_14.head()

(824, 8)

,log_created_time,is_game,item_package_id,items,location_x,location_y,location_z,match_id
0,2022-09-14T00:41:09.755Z,1.5,Carapackage_RedBox_C,Item_Weapon_MG3_C,535295.06250,721297.453125,6335.868652,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
1,2022-09-14T00:45:22.821Z,2.0,Carapackage_RedBox_C,Item_Weapon_MG3_C,402043.53125,737862.304688,8675.961914,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
2,2022-09-14T00:47:48.602Z,2.5,Carapackage_FlareGun_C,Item_Weapon_AUG_C,453235.50000,681751.390625,13086.627930,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
3,2022-09-14T00:48:40.464Z,3.0,Carapackage_RedBox_C,Item_Weapon_P90_C,398309.15625,546231.968750,6428.157227,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
4,2022-09-14T00:52:31.598Z,4.5,Carapackage_RedBox_C,Item_Weapon_AUG_C,399134.62500,574314.781250,7680.711914,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4

In [521]:
care_package_land_df = pd.concat([care_package_land_df, care_package_land_df_14], axis = 0, ignore_index = True)
care_package_land_df = care_package_land_df.sort_values(ascending = True, by = 'log_created_time').reset_index(drop = True)

print(care_package_land_df.shape)
care_package_land_df.head()

(9610, 8)

,log_created_time,is_game,item_package_id,items,location_x,location_y,location_z,match_id
0,2022-09-08T02:21:02.701Z,1.5,Carapackage_RedBox_C,Item_Weapon_AUG_C,276370.562500,717275.757812,1792.590454,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08T02:24:05.792Z,1.5,Carapackage_RedBox_C,Item_Weapon_MG3_C,101444.820312,679432.046875,2291.638672,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08T02:30:45.625Z,3.5,Carapackage_FlareGun_C,Item_Weapon_Groza_C,347061.937500,682526.750000,3455.767090,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08T02:31:49.570Z,4.0,Carapackage_RedBox_C,Item_Weapon_Groza_C,307837.312500,653575.093750,3461.790527,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08T02:40:35.080Z,6.5,Carapackage_RedBox_C,Item_Weapon_Groza_C,254049.640625,640389.718750,3892.698975,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [522]:
care_package_land_df.loc[:, 'log_created_time'] = care_package_land_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
care_package_land_df.head()

,log_created_time,is_game,item_package_id,items,location_x,location_y,location_z,match_id
0,2022-09-08 02:21:02.701,1.5,Carapackage_RedBox_C,Item_Weapon_AUG_C,276370.562500,717275.757812,1792.590454,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08 02:24:05.792,1.5,Carapackage_RedBox_C,Item_Weapon_MG3_C,101444.820312,679432.046875,2291.638672,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08 02:30:45.625,3.5,Carapackage_FlareGun_C,Item_Weapon_Groza_C,347061.937500,682526.750000,3455.767090,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08 02:31:49.570,4.0,Carapackage_RedBox_C,Item_Weapon_Groza_C,307837.312500,653575.093750,3461.790527,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08 02:40:35.080,6.5,Carapackage_RedBox_C,Item_Weapon_Groza_C,254049.640625,640389.718750,3892.698975,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [523]:
care_package_land_df.to_csv(f'{path}/data/care_package_land_df.csv', index = False)

## item_pickup_df

In [524]:
item_pickup_df = pd.read_csv(f'{path}/data/item_pickup_data_sep8to21.csv')
item_pickup_df.shape

(31685, 15)

In [525]:
item_pickup_df_14 = pd.read_csv(f'{path}/data/item_pickup_data_sep14.csv')
print(item_pickup_df_14.shape)
item_pickup_df_14.head()

(2555, 15)

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,sub_category,match_id
0,2022-09-14T00:35:19.971Z,account.b035d87e04d24efda912de5ff95cc35c,100.0,False,False,647693.1250,669230.000000,4649.120117,Life_aaaa,6,tierrabronca,0.1,Item_Weapon_Mk12_C,Main,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
1,2022-09-14T00:35:20.296Z,account.279199103dc547f89683a59632b47110,100.0,False,False,647296.3750,559607.500000,6057.310059,226_v,14,elazahar,0.1,Item_Attach_Weapon_Stock_AR_Composite_C,None,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
2,2022-09-14T00:35:21.374Z,account.beac06796c46402a9ec84d7ba8d7b26f,100.0,False,False,656122.0625,705766.460938,4166.140137,2020_05_20--,6,tierrabronca,0.1,Item_Weapon_M16A4_C,Main,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
3,2022-09-14T00:35:21.406Z,account.a14fb6eb56914ded8c3bd224e4a93b30,100.0,False,False,630035.9375,572771.234375,6489.509766,IUPCROOM,14,elazahar,0.1,Item_Attach_Weapon_Upper_Holosight_C,Sight,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4
4,2022-09-14T00:35:21.909Z,account.ee61976ccba340bc9e77269edf9f8887,100.0,False,False,669992.4375,703797.640625,3922.159912,Seung-----,6,tierrabronca,0.1,Item_Back_F_02_Lv2_C,Backpack,2f375951-79cd-4d1b-a80b-b89e3d1e0fe4

In [526]:
item_pickup_df = pd.concat([item_pickup_df, item_pickup_df_14], axis = 0, ignore_index = True)
item_pickup_df = item_pickup_df.sort_values(ascending = True, by = 'log_created_time').reset_index(drop = True)

print(item_pickup_df.shape)
item_pickup_df.head()

(34240, 15)

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,sub_category,match_id
0,2022-09-08T02:16:09.847Z,account.a7f08e36fb2f4631b601451ec13f4e44,100.0,False,False,622780.5000,217107.1875,385.279999,OcO_Master,12,novorepnoye,0.1,Item_Armor_D_01_Lv2_C,Vest,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08T02:16:12.574Z,account.33a59085c24c404fbccfa73edb0c8e76,100.0,False,False,617325.1875,216661.1250,360.630005,OcO_SuYa,12,novorepnoye,0.1,Item_Weapon_Mk12_C,Main,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08T02:16:12.987Z,account.0befce61f4cc45f7affeff92b31d23cb,100.0,False,False,629184.9375,204507.3125,62.650002,suve77,8,novorepnoye,0.1,Item_Head_E_01_Lv1_C,Headgear,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08T02:16:13.254Z,account.62328cc9b5fa4db68bc014ee5d3bd758,100.0,False,False,603289.4375,218488.9375,799.150024,KOR_autoJJong,5,novorepnoye,0.1,Item_Ammo_45ACP_C,None,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08T02:16:13.554Z,account.b05f6894443446fcaac1ffaa8db2d58e,100.0,False,False,628758.7500,204720.6875,90.660004,saeia,8,novorepnoye,0.1,Item_Boost_EnergyDrink_C,Boost,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [527]:
item_pickup_df.loc[:, 'log_created_time'] = item_pickup_df.loc[:, 'log_created_time'].apply(lambda x: change_date_format(x))
item_pickup_df.head()

,log_created_time,account_id,health,is_in_blue_zone,is_in_red_zone,location_x,location_y,location_z,name,team_id,zone,is_game,item_id,sub_category,match_id
0,2022-09-08 02:16:09.847,account.a7f08e36fb2f4631b601451ec13f4e44,100.0,False,False,622780.5000,217107.1875,385.279999,OcO_Master,12,novorepnoye,0.1,Item_Armor_D_01_Lv2_C,Vest,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
1,2022-09-08 02:16:12.574,account.33a59085c24c404fbccfa73edb0c8e76,100.0,False,False,617325.1875,216661.1250,360.630005,OcO_SuYa,12,novorepnoye,0.1,Item_Weapon_Mk12_C,Main,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
2,2022-09-08 02:16:12.987,account.0befce61f4cc45f7affeff92b31d23cb,100.0,False,False,629184.9375,204507.3125,62.650002,suve77,8,novorepnoye,0.1,Item_Head_E_01_Lv1_C,Headgear,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
3,2022-09-08 02:16:13.254,account.62328cc9b5fa4db68bc014ee5d3bd758,100.0,False,False,603289.4375,218488.9375,799.150024,KOR_autoJJong,5,novorepnoye,0.1,Item_Ammo_45ACP_C,None,3db288f9-aaf4-4022-9dd8-4b6f62862a7e
4,2022-09-08 02:16:13.554,account.b05f6894443446fcaac1ffaa8db2d58e,100.0,False,False,628758.7500,204720.6875,90.660004,saeia,8,novorepnoye,0.1,Item_Boost_EnergyDrink_C,Boost,3db288f9-aaf4-4022-9dd8-4b6f62862a7e

In [528]:
item_pickup_df.to_csv(f'{path}/data/item_pickup_df.csv', index = False)